<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>

	<link rel="stylesheet" href='__PUBLIC__css/bootstrap.min.css'> 
	<link rel="stylesheet" href='__PUBLIC__css/style.css'> 

	<script src="__PUBLIC__js/require.js" data-main="__PUBLIC__js/eterm.js"></script>
	<style>

	</style>
</head>
<body style="background-color: #f0f0f0">
	<!--  style="background-color: #f0f0f0" -->
<div class="container" style="margin-top:8%;">
	<div class='row'>
		<div class="col-lg-3"></div><!-- lg-3 -->
		<div class="col-lg-6">
			<h2 class="text-center">数据辅助中心（ZABA）</h2>
			<br>
			<div class="panel panel-default login-panel">
        <div class="panel-heading">登录（请输入航信账号）</div>
        <div class="panel-body">
					<div class="form-group">
						<label for="name" class='control-label'>用户名：</label>
						<input type="text" id='name' name='name'  class='form-control'>
					</div>
					<div class="form-group">
						<label for="password" class='control-label'>密码： </label>
						<input type="password" id='password' name='password'  class='form-control'>
					</div>
					<div class="form-group">
						<label for="resource" class='control-label'>配置： </label>
						<input type="text" id='resource' name='resource'  class='form-control' value='BJS248'>
					</div>
					<div class="form-group">
						<input type="submit" name='login-1' id='login-1' value='登录' class='submit btn btn-primary btn-block' >
						<!-- <input type="submit" name='login-2' id='login-2' value='登录舱位查询(eterm)'  class='submit btn btn-default'> -->
						<!-- <input type="submit" name='login-3' id='login-3' value='登录av'   class='submit btn btn-default'> -->
					</div>
					<a href="#" id='eexiang' name='login' class='login' value='eexiang'>eexiang</a> |
					<a href="#"  id='dongmin' name='login' class='login' value='12341234'>dongmin</a> |
					<a href="#"  id='avyang' name='login' class='login' value='avyang'>avyang</a> |
					<a href="#"  id='avyang2' name='login' class='login' value='avyang'>avyang2</a> |
					<a href="#"  id='av66' name='login' class='login' value='av66av66'>av66</a>
				</div>
			</div>
		</div><!-- lg-6 -->
		<div class="col-lg-3"></div><!-- lg-3 -->
	</div><!-- row -->

<!-- 	<hr>

	<div class="row">
		<div class="col-lg-12">
			<h2>其他</h2>
			<a href="<{$URL}>/admin/av.sabre.php?display=1" class='btn btn-default' >舱位(sabre)</a>
			<a href="<{$URL}>/admin/plan.php?display=1" class='btn btn-default' >av计划任务(sabre)</a>
		</div>
	</div> -->

</div>


<script>
require(['eterm'], function(eterm){

$('.login').click(function(){
	$('#name').val($(this).attr('id'));
	$('#password').val($(this).attr('value'));
})



var setCommend = function(command){
	$("#login-1").click(function(){
		command.checkSignin({
			name: $("#name"),
			password: $("#password"),
			resource: $("#resource"),
		})
	})

}

setCommend(eterm.createCommand(eterm.eterm));
})
	
</script>
</body>
</html>