<{extends file='../layout.html'}>

<{block name="title"}>AVH舱位查询(from eterm)<{/block}>
<{block name="content"}>
<div class="row">
	<div class="col-lg-12">
		
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">

		<div class="form-inline">

			<div class="input-group">
					<span class="input-group-addon" id="input-airCompany">航空公司</span><input type="text" name="airCompany" id="airCompany" placeholder="两代码" class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-airCompany">
					<span class="input-group-addon" id="input-startDate">起始日期</span><input type="text" name="startDate" id="startDate" class='form-control' onblur="upper(this)" style='width:100px' value="" aria-describedby="input-startDate">
					<span class="input-group-addon" id="input-endDate">结束日期</span><input type="text" name="endDate" id="endDate" class='form-control' onblur="upper(this)" style='width:100px' value="" aria-describedby="input-endDate">
					<span class="input-group-addon" id="input-start">出发地</span><input type="text" name="start" id="start" placeholder="机场代码" class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-start">
					<span class="input-group-addon" id="input-end">到达地</span><input type="text" name='end' id='end' placeholder="机场代码" class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-end">
					<span class="input-group-addon" id="input-other">附加参数：</span><input type="text" name='other' id='other' class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-other">
			</div>

			<div class="input-group">
				<input type="submit" value="查询" name='dosubmit' id='dosubmit' class="btn btn-primary">
			</div>

			<div class="input-group">
				<button id='test' class='btn btn-default'>test</button>
			</div>

			<div class="input-group">
				<span class="addBtn"><a class="btn btn-default" data-toggle="modal" data-target="#setCabin">设置舱位等级</a></span>
			</div>

		</div>
		<!-- form-inline -->
	</div>
	<!-- "panel-body -->
</div>
<!-- panel -->

<div id="content-progress"></div>
<div id="content"></div>

<!-- 舱位筛选 -->
<div class="modal fade" id="setCabin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">设置舱位等级</h4>
          </div>
          <div class="modal-body">
							<div class="form-group col-lg-6" id='seatLevel' style="display:none;">
								<select multiple="multiple"  class="form-control" style="height:210px">
		            </select>
							</div>
          		<div class="col-lg-6">
								<div class="form-group">
									<label for="" class="control-label" >头等舱</label>
									<input type="text" class="form-control" id='f-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">商务舱</label>
									<input type="text" class="form-control" id='b-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">经济舱</label>
									<input type="text" class="form-control" id='e-cabin' onblur="upper(this)" >
								</div>
								<p>逗号分隔</p>
          		</div>
          		<div class="col-lg-6">
          			<div class="form-group">
									<label for="" class="control-label">航班筛选</label>
									<input type="text" class="form-control" id='flight' onblur="upper(this)" >
								</div>
          		</div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id='mkTable'>生成</button>
          </div>


      </div>
  </div>
</div>


<script>
require(['eterm'], function(eterm){
var setCommend = function(command){

	$('#test').click(function(){
		command.avh({
			start: 'BJS',
			end: 'NYC',
			startDate: "05JUN",
			endDate: "06JUN",
			aircompany: 'UA',
			other: ''
		}, true)
	})

	$('#dosubmit').click(function(){
		command.avh({
			start: $('#start').val(),
			end: $('#end').val(),
			startDate: $('#startDate').val(),
			endDate: $('#endDate').val(),
			aircompany: $('#airCompany').val(),
			other: $('#other').val()
		}, true)
	})
}

var tpl = {
	mkTable:mkTable,
	mkSeatLevel: mkSeatLevel
}

// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm,tpl));

function mkTable(array, dom, wrap, type){ // (data, className, container)
	console.log(array)
	// 绘制表格
	var seatMatch = {
		'A': '>9',
		'S': '限制销售',
		'Q': '接受预定',
		'L': 0, // '接受候补'
		'C': 0, // '舱位关闭'
		'Z': '未知',
		'X': '等级取消'
	}
	var html = "", 
			fcabin = ($('#f-cabin').val()).split(',')[0] !== ""? ($('#f-cabin').val()).split(',') : [],
			bcabin = ($('#b-cabin').val()).split(',')[0] !== ""? ($('#b-cabin').val()).split(',') : [],
			ecabin = ($('#e-cabin').val()).split(',')[0] !== ""? ($('#e-cabin').val()).split(',') : [],
			flight = $('#flight').val();

			fcabinhtml = "", bcabinhtml = "", ecabinhtml = "", flighthtml = "";

	var totalcabin = [].concat(fcabin,bcabin,ecabin);
	var	appendType = type !== ""? type : 'w',
			context = wrap !== "" ? wrap : document;

	html = '<table class="'+dom+' table table-hover table-bordered table-responsive" id="origData">';

	if( totalcabin.length > 0 ){
		html += '<tr><th rowspan=2 >日期</th><th rowspan=2>序号</th><th rowspan=2>航班</th><th rowspan=2>行程</th>';
		if(fcabin.length > 0){
			html += '<th colspan='+fcabin.length+'>头等舱</th>';
			for( var f in fcabin){
				fcabinhtml += '<th>'+fcabin[f]+'</th>';
			}
		}
		if(bcabin.length > 0){
			html += '<th colspan='+bcabin.length+'>商务舱</th>';
			for( var b in bcabin){
				bcabinhtml += '<th>'+bcabin[b]+'</th>';
			}
		}
		if(ecabin.length > 0){
			html += '<th colspan='+ecabin.length+'>经济舱</th>';
			for( var e in ecabin){
				ecabinhtml += '<th>'+ecabin[e]+'</th>';
			}
		}
		html += '</tr>';
		html += '<tr>'+fcabinhtml+bcabinhtml+ecabinhtml+'</tr>';
	}

	for( var i in array ){ 

		// html += "<tr><td >"+i+"</td></tr>"; 

		for ( var j in array[i]){ 
			for( var o in array[i][j]){

				if(flight !== "" && flight !== array[i][j][o].flight){ // 无筛选航班
					continue;
				}else{

					html += "<tr>";
					html += "<td >"+i+"</td><td >"+j+"</td><td>"+array[i][j][o].flight+"</td><td>"+array[i][j][o].start+"<!--("+array[i][j][o].startTime+")-->"+"-<!--"+array[i][j][o].flightTime+"-->-"+array[i][j][o].end+"<!--("+array[i][j][o].endTime+")-->"+"</td>";

					if(totalcabin.length===0){
						for(var s in array[i][j][o].cabin){
							html += "<td>"+s+":"+matchTd(array[i][j][o].cabin[s], seatMatch)+"</td>"; 
						}
					}else{
						if(array[i][j][o].cabin.length !== 0){
							for(var s in totalcabin){
									if(matchTd(array[i][j][o].cabin[(totalcabin[s])], seatMatch) - 0 > 0){
										html += "<td><span style='color:red'>"+matchTd(array[i][j][o].cabin[(totalcabin[s])], seatMatch)+"</span></td>";
									}else{
										html += "<td>"+matchTd(array[i][j][o].cabin[(totalcabin[s])], seatMatch)+"</td>";
									}
									
							}
						}
					}
					html += "</tr>";

				}

			}
		}

	}

	html += '</table>';

	if(appendType === 'w'){
		$(context).html(html);
	}
	else if(appendType === 'a'){
		$(context).append(html);
	}

}

function mkSeatLevel(data){
	var longestCabinId = 0;
	var html = "";
	for( var i in data ){
		if(data[i].cabinLength > data[longestCabinId].cabinLength){
			longestCabinId = i;
		}
	}
	
	for(var i in data[longestCabinId].cabin){
		html += '<option>'+i+'</option>';
	}

	$('#seatLevel').show().children('select').append(html);
}

function matchTd(data, matchArr){
	// data匹配matchArr，存在返回match中的值，否则返回原值

	// 所筛选舱位没有时
	if(data === undefined){
		return "";
	}

	for( o in matchArr ){
		if( o === data){
			return matchArr[o];
		}
	}
	return data;
}

	$(function(){
		// 导航
		$('.nav>li').removeClass('active');
		$('.nav>.avh').addClass('active');
	})

})

// $('#dosubmit').click(function(){
// 	$start = $('#start').val(),
// 	$end = $('#end').val(),
// 	$startDate = $('#startDate').val(),
// 	$endDate = $('#endDate').val();
// 	$airCompany = $('#airCompany').val();

// 	rmTable('table-res');
// 	var a;

// 	progress({context: '#content-progress'}).after(function(){
// 		a = getData('/eterm/admin/avh.php', 'dosubmit=cabin&start='+$start+'&end='+$end+'&startDate='+$startDate+'&endDate='+$endDate+'&airCompany='+$airCompany)
// 			mkTable(a.arr, 'table-res', '#content');
// 	}).after(function(){

// 			$('#mkTable').click(function(){
// 				rmTable('table-res');
// 				mkTable(a.arr, 'table-res', '#content');
// 			})

// 	});

// })

// function getData(url, query){

// 	var result;
// 	$.ajax({
// 		url: url,
// 		type: 'POST',
// 		async: false,
// 		data: query,
// 		success: function(msg){
// 			msg = eval('['+msg+']')[0];
// 			console.log(msg)
// 			result =  msg;
// 		},
// 		error: function(msg){
// 			console.log(msg);
// 		}
// 	})
// 	return result;
// }





 //    // 为舱位着色
	// var seatNum = $(".seatNum");
	// var seatLow = []; // 较少的舱位
	// var num = 5;      // 低于该数舱位着色
	// console.log(seatNum.length);
	// for (var j = 0; j < seatNum.length; j++) {
	// 	if(parseInt(seatNum[j].innerHTML) < num){
	// 		seatLow.push(seatNum[j].parentNode.innerHTML);
	// 		seatNum[j].style.color= 'red';
	// 	}
	
	// };
	// $("#lowNum").html("低于<span class='red'> "+num+" </span>的舱位被标示");
	// console.log(seatLow);


</script>
<{/block}>