<{extends file='../layout.html'}>

<{block name="title"}>查看fare协议<{/block}>
<{block name="content"}>

<style type='text/css'>
	input[type='checkbox'].check-item-sub{
		float: left;
		margin: 12px 8px;
	}
</style>

<div class='form-inline'>
	<input type="submit" name='dosubmit' id='all' class='btn btn-default' value='全部查看'>
	查看第：<input type="text" name='index' size='3' id='index' class='form-control'> 项
	<input type="submit" name='dosubmit' id='select' class='btn btn-primary' value='提交'>
</div>
<br>
<div id='lab' style="display:none">
	<pre class="command"></pre>
</div>
<br>
<div id="content-progress"></div>
<div id="content"></div>

<script>
require(['eterm'], function(eterm, extend){
var setCommend = function(command){
function parseURL(url) {
    var a =  document.createElement('a');
    a.href = url;
    return {
        source: url,
        protocol: a.protocol.replace(':',''),
        host: a.hostname,
        port: a.port,
        query: a.search,
        params: (function(){
            var ret = {},
                seg = a.search.replace(/^\?/,'').split('&'),
                len = seg.length, i = 0, s;
            for (;i<len;i++) {
                if (!seg[i]) { continue; }
                s = seg[i].split('=');
                ret[s[0]] = s[1];
            }
            return ret;
        })(),
        file: (a.pathname.match(/\/([^\/?#]+)$/i) || [,''])[1],
        hash: a.hash.replace('#',''),
        path: a.pathname.replace(/^([^\/])/,'/$1'),
        relative: (a.href.match(/tps?:\/\/[^\/]+(.+)/) || [,''])[1],
        segments: a.pathname.replace(/^\//,'').split('/')
    };
}
	var getQuery = parseURL(window.location.href).params;

	// 查看部分使用规则
	$('#select').click(function(){
		// 扩充 getQuery 对象 
		var query = getQuery;
		if(query.from) 
			query.from = decodeURI(query.from)

		if($('#index').val())
			query.index = $('#index').val();

		query.dosubmit = 'select';
		command.fare(query);
		// command.fare({
		// 	dosubmit: 'select',
		// 	index: $('#index').val(),  // 
		// 	fare: getQuery.fare,
		// 	start: getQuery.start,
		// 	end: getQuery.end,
		// 	startDate: getQuery.startDate,
		// 	aircompany: getQuery.aircompany,
		// 	from: decodeURI(getQuery.from)
		// })
	})

	// 查看全部
	$('#all').click(function(){
		var query = getQuery;
		if(query.from) 
			query.from = decodeURI(query.from)

		query.dosubmit = 'all';
		command.fare(query);

		// command.fare({
		// 	dosubmit: 'all',
		// 	index: '',
		// 	fare: getQuery.fare,
		// 	start: getQuery.start,
		// 	end: getQuery.end,
		// 	startDate: getQuery.startDate,
		// 	aircompany: getQuery.aircompany,
		// 	from: decodeURI(getQuery.from),
		// 	// remove: '1'
		// })
	})

}

var tpl = {
	mkTable:mkTable
}
// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm, tpl));

function mkTable(array, dom, wrap, type){
	"use strict";
	// ES6 


	let html = '',
			appendType = type !== ""? type : 'w',
			context = wrap !== "" ? wrap : document;

	var index = 0;
	for(let row in array){
		html += `
		<div class="line ${dom}">
			<p class='h-1'>${array[row]['caption']}</p>
			<div class='wrap' >
				<table class='table-1 table-2' style=''>
					<tr>
					`
						for(let col in array[row]){

							index ++;
							if( array[row]['caption'] !== "" ){
								if( index > 0){
									html +=`
									<td class='tit' >
										<input type="hidden" name="a${col}" id="a${col}" value="${array[row][col]['content']}">
										<pre>${array[row][col]['title']}</pre>
										<p class="lab">${array[row][col]['lab']}</p>
									</td>
									<td class="cont" ><pre>${array[row][col]['content']}</pre></td>
									`
								}
							}
							else{
								html +=`
								<td class='tit'>
									<input type="hidden" id='a${col}' value='${array[row][col]['content']}'>
									<pre>${array[row][col]['title']}</pre>
									<p class="lab">${array[row][col]['lab']}</p>
								</td>
								<td class="cont"><pre>${array[row][col]['content']}</pre></td>
								`
							}
						}
					html+= `
					</tr>
				</table>
			</div>
		</div>
		<hr>
		`
	}

	if(appendType === 'w'){
		$(context).html(html);
	}
	else if(appendType === 'a'){
		$(context).append(html);
	}
}

})

// 查看全部
// $('#all').click(function(){
// 	var aObj = parseURL(window.location.href);
// 	var query  = aObj.query+'&dosubmit=all'
// 	getData(query);
// })

// 查看部分
// $('#select').click(function(){
// 	var aObj = parseURL(window.location.href);
// 	var query  = aObj.query+'&dosubmit=select&index='+$('#index').val()
// 	getData(query);
// })


// 尺寸调整
// function adjustTable(){
// 	$('.table-2').each(function(){
// 		var num = $(this).find('.cont').length;
// 		$(this).css('width',num*660+'px');
// 		if(parseInt($(this).css('height'))<210){
// 			$(this).closest('.wrap').css('height','auto');
// 		}
// 	});
// }



// function getData(query){
// 	$('#content').html('<div class="progress progress-striped active"> <div class="progress-bar" style="width: 2%"></div></div>')
// 	var $progress = $('.progress'),
// 			$bar = $('.progress>.progress-bar');

// 	$progress.show();
// 	$.ajax({
// 		url: '/eterm/admin/fare.php',
// 		type: 'POST',
// 		data: query,
// 		success: function(){
// 			$bar.css('width','100%');
// 			$('#lab').show();
// 		},
// 		error: function(msg){
// 			console.log(msg);
// 		}
// 	})
// 	.done(function(msg){
// 			setTimeout(function(){
// 				$progress.hide();
// 				$bar.css('width','2%');

// 				msg = eval('['+msg+']')[0];
// 				console.log(msg)

// 				rmTable('table');
// 				mkTable(msg.arr, 'table');
// 				$('.time').html(msg.time);
// 				$('.command').html(msg.command);
// 			},600)

// 			adjustTable();
// 	})
// }


// // 全选/反选
// $('#c_all').click(function(){
// 	if($('#c_all').attr('checked')){
// 		var flag = false; // 是否子项被选择
// 	}else{
// 		var flag = true;
// 	}
// 	// 如果子项有没被选择时
// 	$('.check-item').each(function(){
// 		if(!$(this).attr('checked')){
// 			flag = false;
// 		}
// 	})
// 	if(flag ){
// 		$('.check-item').removeAttr('checked').closest('.line').find('.check-item-sub').removeAttr('checked');
// 	}else{
// 		$('.check-item').attr('checked','checked').closest('.line').find('.check-item-sub').attr('checked','checked');
// 	}
// })

// // 下级
// $('.check-item-sub').click(function(){
// 	$('#c_all').removeAttr('checked');
// })

// // 携程数据
// $('#c_xc').click(function(){
// 	// 16 14 15 8 3 2&4 10 8 13  3&14 11 3&7 11 1 6 7 19 5 
// 	var select = ['16','14','15','08','03','02','04','13','14','11','07','01','06','19','05'];
// 	for (var i = 0; i < select.length; i++) {
// 		select[i]= 'c_a'+select[i];
// 	};
// 	if($('#c_xc').attr('checked')){
// 		var flag = true; // 是否子项被选择
// 	}else{
// 		var flag = false;
// 	}

// 	if(flag){
// 		$.each(select,function(key,value){
// 			$('#'+value).attr('checked','checked');
// 		})
// 	}else{
// 		$.each(select,function(key,value){
// 			$('#'+value).removeAttr('checked');
// 		})
// 	}
// 	console.log(select);
// })



</script>
<{/block}>