<{extends file='../layout.html'}>

<{block name="title"}>航路<{/block}>
<{block name="content"}>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<div class="form-inline">

					<div class="input-group">
							<span class="input-group-addon" id="input-airCompany">航空公司</span><input type="search" name="airCompany" id="airCompany" placeholder="两代码" class='form-control' onblur="upper(this)"  aria-describedby="input-airCompany" list='airCompanyList'>
							<datalist id="airCompanyList">
							  <option value="UA">
							  <option value="DL">
							</datalist>
							<span class="input-group-addon" id="input-start">出发地</span><input type="search" name="start" id="start" placeholder="城市代码" class='form-control' onblur="upper(this)"  aria-describedby="input-start" list='startList'>
							<datalist id="startList">
							  <option value="BJS">
							</datalist>
							<span class="input-group-addon" id="input-end">到达地</span><input type="search" name='end' id='end' placeholder="城市代码" class='form-control' onblur="upper(this)" aria-describedby="input-end" list='endList'>
							<datalist id="endList">
								<option value='SFO'>
								<option value='IAD'>
								<option value='BOS'>
								<option value='LAX'>
								<option value='EWR'>
								<option value='ORD'>
								<option value='MCO'>
								<option value='IAH'>
								<option value='SLC'>
								<option value='DEN'>
								<option value='CVG'>
								<option value='LAS'>
								<option value='PIA'>
								<option value='ATL'>
								<option value='RDU'>
								<option value='BDL'>
								<option value='BTV'>
								<option value='SEA'>
								<option value='SAN'>
								<option value='CLT'>
								<option value='BNA'>
								<option value='DFW'>
								<option value='PIT'>
								<option value='DSM'>
								<option value='CLE'>
								<option value='BOI'>
								<option value='MIA'>
								<option value='SGF'>
								<option value='STL'>
								<option value='ROA'>
								<option value='YYZ'>
								<option value='PHL'>
								<option value='OMA'>
								<option value='BUF'>
								<option value='PDX'>
								<option value='MSP'>
								<option value='OKC'>
								<option value='HSV'>
								<option value='PHX'>
								<option value='IND'>
								<option value='DCA'>
								<option value='SBN'>
								<option value='LGA'>
								<option value='SAT'>
								<option value='CMH'>
								<option value='LAN'>
								<option value='MCI'>
								<option value='JAC'>
								<option value='CMI'>
								<option value='EUG'>
								<option value='AUS'>
								<option value='MEX'>
								<option value='SYR'>
								<option value='FLL'>
								<option value='GEG'>
								<option value='DTW'>
								<option value='ALB'>
								<option value='RIC'>
								<option value='YUL'>
							</datalist>
					</div>

					<div class="input-group">
						<input type="submit" value="查询" name='dosubmit' id='dosubmit' class="btn btn-primary">
					</div>

					<div class="input-group">
						<button id='test' class='btn btn-default'>test</button>
					</div>


				</div>
				<!-- form-inline -->
			</div>
			<!-- "panel-body -->
		</div>
<!-- panel -->
	</div>
</div>

<div id="content-progress"></div>
<div id="content"></div>

<script>
require(['eterm','dt'], function(eterm, extend){
var setCommend = function(command){

	// 查看部分使用规则
	$('#test').click(function(){
		$('#start').val('BJS')
		$('#end').val('SFO')
		$('#airCompany').val('UA')

		command.searchFslByInput({
			start: $('#start').val(),
			end: $('#end').val(),
			aircompany: $('#airCompany').val()
		})
	})

	// 查看全部
	$('#dosubmit').click(function(){
		command.searchFslByInput({
			start: $('#start').val(),
			end: $('#end').val(),
			aircompany: $('#airCompany').val()
		})
	})

}

var tpl = {
	mkTable:mkTable
}
// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm, tpl));

function mkTable(array, dom, wrap, type){
	"use strict";
	// ES6 

	let html = '',
			appendType = type !== ""? type : 'w',
			context = wrap !== "" ? wrap : document;

	for (var item in array){
		var length = array[item].length, start = $('#start').val(), end = $('#end').val(), aircompany = $('#airCompany').val();
		html = `
			<table class="table-addCabin table table-hover table-bordered table-responsive add-cabin-table" >
				<tr>
					<th>代码</th>
					<th>中转点</th>
					<th>出发</th>
					<th>到达</th>
					<th>航空公司</th>
					<th>解析结果</th>
					<th>源</th>
				</tr>
				<tr>
					<td rowspan="${length}">${item}</td>
					<td rowspan="${length}">${array[item].result}</td>
				</tr>
		`
		for(var i = 0; i < array[item].length-1; i++){

			html +=`
				<tr>
					<td>${start}</td>
					<td>${end}</td>
					<td>${aircompany}</td>
					<td>${array[item][i].translate}</td>
					<td>${array[item][i].source}</td>
				</tr>
			`
		}
	}
	html += `</table>`;

	if(appendType === 'w'){
		$(context).html(html);
	}
	else if(appendType === 'a'){
		$(context).append(html);
	}
}


	$(function(){
		// 导航
		$('.nav>li').removeClass('active');
		$('.nav>.fsl').addClass('active');
	})


})

</script>
<{/block}>