<{extends file='../layout.html'}>

<{block name="title"}>降舱<{/block}>
<{block name="content"}>

<div class="row">
	<div class="col-lg-12">
		<!-- 输入框 -->
		<div class="panel panel-default">
		  <div class="panel-body">
				<div class="form-inline">
						<div class="input-group">

							<!-- 区域  
							<span class="input-group-addon" id="input-aircompany">航空公司</span>
							<select class="form-control" id='aircompany' aria-describedby="input-aircompany">
							  <option>——</option>
							</select>
							 区域 END -->

							<!-- 出发  
							<span class="input-group-addon" id="input-depart">出发</span>
							<select class="form-control" id='depart' aria-describedby="input-depart">
							  <option>——</option>
							</select>
							出发 END -->

							<!-- 到达  
							<span class="input-group-addon" id="input-arrive">到达</span>
							<select class="form-control" id='arrive' aria-describedby="input-arrive">
							  <option>——</option>
							</select>
							到达 END -->

							<!-- 日期 
							<span class="input-group-addon" id="input-departureDate">日期</span>
							<input  class="form-control datetimepicker" id='departureDate' aria-describedby="input-departureDate" type="text">
							 日期 END -->

						</div>

						<div class="input-group">
							<input type="submit" id='add-new'  value='新增记录' class='btn btn-default'>
						</div>
						<div class="input-group">
							<input type="submit" id='start-lowcabin'  value='开启降舱' class='btn btn-primary'>
						</div>
						<div class="input-group" id='lowcabin-label'></div>
				</div>
			</div>
		</div>
		<!-- 输入框 END -->
	</div>

</div>

<div id="content"></div>
<!-- other modal -->
<div class="modal fade" id="otherModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" >
  <div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel"> </h4>
      </div>
      <!-- modal header -->

      <div class="modal-body">
        <div id="modal-content">
            

        </div>
      </div>
      <!-- modal body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
      <!-- modal footer -->

    </div>
  </div>
</div>
<!-- other modal end -->

<script>

require(['eterm', 'dt'], function (eterm, dt){

// 弹出框   
var OtherModel = function(title, content, footer){

    $("#otherModal .modal-title").html(title);
    $("#otherModal #modal-content").html(content);
    $("#otherModal .modal-footer").html(footer ? footer:`<button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>`);

    return {
        hide: function(){
            $("#otherModal").modal("hide");
        },
        show: function(){
            $("#otherModal").modal();
        }
    }
}

var tpl = {
	mkTable: mkTable
}

// 查看 xfsd
$("#add-new").click(function(){
	noteModel = new OtherModel("贴入记录", 
		`<textarea class="form-control" id='note-input' cols="30" rows="5" style='background-color:black;color:green;'></textarea><br><div id='note-anlysis-result'></div>`,
		`<button type="button" class="btn btn-primary" id='note-submit'>保存</button><button type="button" class="btn btn-default" id='note-anlysis'>解析</button><button type="button" class="btn btn-default"  data-dismiss="modal" onclick='javascript:window.location.reload();'>关闭</button>`
	);

	noteModel.show();
})



var setCommand = function(command){

	command.lowcabin.searchAll();

	var noteSrc, note;
	// 解析
	$("#otherModal").on('click', '#note-anlysis', function(){
		noteSrc = $('#note-input').val();
		note = parseNoteInput(noteSrc);
		console.log(note)
		mkNoteTable( note );
	})
	// 保存
	$("#otherModal").on('click', '#note-submit', function(){
			// 回填舱位
		for(var i in note.note){
			note.note[i].cabinList = $('#cabin-'+i).val();
		}
		console.log(note)
		command.lowcabin.saveNote( { 'note': note, 'source': noteSrc} );
	})

	// 删除路
	$("#content").on('click', '.delete-note', function(){
		command.lowcabin.deleteNote( { sid:$(this).data('sid')} );
	})

	// 查看详情
	$("#content").on('click', '.note-display', function(){
		command.lowcabin.searchNotePrice( { sid: $(this).data('sid')} );
	})

	$('#start-lowcabin').click(function(){
		var audio = document.createElement('audio');
		var source = document.createElement('source');
		source.src = '__PUBLIC__media/audio/alert.mp3';
		audio.appendChild(source);
		audio.loop = 'loop';

		var timer = setInterval(function(){
			eterm.eterm.link(eterm.const.Controller + 'tmpRun', {}, function(msg){
				$('#lowcabin-label').text('更新时间：'+(new Date()).format('yyyy-MM-dd hh:mm:ss'))

				var html = '', alertSwitch = false;
				for(var i in msg){
					console.log(msg)
					if(msg[i].status){
						alertSwitch = true;
						html += `<textarea class="form-control" id='note-input' cols="30" rows="5" style='background-color:black;color:green;'>${msg[i].source}</textarea>
							  <table class="table table-hover table-bordered table-responsive">
							  <thead>
									<tr>
										<th>出发</th>
										<th>到达</th>
										<th>航班号</th>
										<th>目标舱位</th>
										<th>降舱舱位</th>
									</tr>
								</thead>
								`
						for(var j in msg[i].result){
							var val = msg[i].result[j];
							html += `
							<tr>
								<td>${val.Depart}</td>
								<td>${val.Arrive}</td>
								<td>${val.Flight}</td>
								<td>${val.LC_Cabin_List}</td>
								<td>${val.LC_Cabin}</td>
							</tr>`
						}
					}
				}

				if(alertSwitch){
					var lowCabinModel = new OtherModel("降舱", html ,`<button type="button" class="btn btn-default"  data-dismiss="modal" >关闭</button>`
					);

					audio.play();
					lowCabinModel.show();
					clearInterval(timer);
				}
			})
		}, 10000); // 30*60*1000

	})

}

setCommand(eterm.createCommand(eterm.eterm, tpl));

// 解析记录
function parseNoteInput(string){
	if(!string) return;
	var strArray = string.split('\n'),
			resultNote = {
				pnr: '',
				client: '',
				note : [],
			};

	// 匹配乘客姓名
	if(strArray[0]){
		resultNote.client = /1\.([A-z]+\/[A-z]+)\s/.exec(strArray[0].trim())[1]
		resultNote.pnr    = /\s(\w+)$/.exec(strArray[0].trim())[1]
	}
	for (var i = 1; i < strArray.length; i++) {
		if(!strArray[i]) continue;
		var match = strArray[i].trim();
		resultNote.note[i-1] = {
			// 匹配航班号
			flight: /\d\.\s\s([A-z]{2}\d+)\s/.exec(match)[1],
			// 舱位 
			cabin: /\s([A-z])\d?\s/.exec(match)[1],
			// 航段分组
			group: /\s[A-z](\d)?\s/.exec(match)[1] ? /\s[A-z](\d)?\s/.exec(match)[1] : '',
			// 日期
			date: /[A-z]{2}(\d{2}[A-z]{3})/.exec(match)[1],
			// 出发
			depart: /\s([A-z]{3})([A-z]{3})\s/.exec(match)[1],
			// 到达
			arrive: /\s([A-z]{3})([A-z]{3})\s/.exec(match)[2],
			// 出发时间
			departTime: /(\d{4})\s+(\d{4})/.exec(match)[1],
			// 到达时间
			arriveTime: /(\d{4})\s+(\d{4}\+?1?)/.exec(match)[2],
			// 航程状态
			status: /(HK|SK)\d/.test(match) ? /(HK|SK)\d/.exec(match)[1]: false
		}

	};
	return resultNote; 
}

// 展示记录 
function mkNoteTable(array){
	if( !array ) return;
		html =`
		  <table class="table table-hover table-bordered table-responsive">
		  <thead>
				<tr>
					<th>序号</th>
					<th>出发</th>
					<th>到达</th>
					<th>航班号</th>
					<th>舱位</th>
					<th>航段组</th>
					<th>状态</th>
					<th>日期</th>
					<th>出发时间</th>
					<th>到达时间</th>
					<th>目标舱位</th>
				</tr>
			</thead>
	`
	for(var i in array.note){
		html += `
				<tr>
					<td>${i}</td>
					<td>${array.note[i].depart}</td>
					<td>${array.note[i].arrive}</td>
					<td>${array.note[i].flight}</td>
					<td>${array.note[i].cabin}</td>
					<td>${array.note[i].group}</td>
					<td>${array.note[i].status}</td>
					<td>${array.note[i].date}</td>
					<td>${array.note[i].departTime}</td>
					<td>${array.note[i].arriveTime}</td>
					<td><input type='text' class='form-control' id="cabin-${i}" onblur="upper(this)" placeholder='多个舱位请用,隔开' value=''><br></td>
				</tr>
		`
	}
	html += '</table>';
	$('#note-anlysis-result').html(html);
}

function mkTable(array, target, wrap, type){
	'use strict';

	if(!array) return;

	let html = '', 
			appendType = type !== ""? type : 'w',
	  	context = wrap !== "" ? wrap : document;

		html =`
		  <table class="${target} table table-hover table-bordered table-responsive">
		  <thead>
				<tr>
					<th>序号</th>
					<th>记录</th>
					<th>状态</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
	`
	for(var i in array){
		html += `
				<tr>
					<td>${i}</td>
					<td><textarea cols="90" rows="5" readonly="readonly">${array[i].Source}</textarea></td>
					<td>`
					switch (array[i].Status){
						case '0':
							html += '等待'
							break;
						case '-1':
							html += '<span style="color:red">失败</span>'
							break;
						case '2': 
							html += '<span style="color:green">成功</span>'
							break;
					}
		html += `</td>
					<td>${new Date((array[i].GmtCreate -0)*1000).format("yyyy-MM-dd hh:mm:ss")}</td>
					<td><!--<a href='#' class='note-display' data-sid="${array[i].Id}">查看详情</a> | --><a href='#' data-sid="${array[i].Id}" class='delete-note'>删除</a></td>
				</tr>
		`
	}
	html += '</table>';

	appendType === 'a'? $(context).append(html): $(context).html(html);
}

$(function(){
	// 导航
	$('.nav>li').removeClass('active');
	$('.nav>.lowCabin').addClass('active');
})

})

</script>

<{/block}>