<{extends file='../layout.html'}>

<{block name="title"}>占位<{/block}>
<{block name="content"}>

<div class="row">
	<div class="col-lg-12">
		<!-- 输入框 -->
		<div class="panel panel-default">
		  <div class="panel-body">
				<div class="form-inline">
						<div class="input-group">
							<input type="submit" id='add-new'  value='新增记录' class='btn btn-default'>
						</div>
						<div class="input-group">
							<input type="submit" id='search-note'  value='查询记录' class='btn btn-primary'>
						</div>
				</div>
			</div>
		</div>
		<!-- 输入框 END -->
	</div>
</div>

<div id="content"></div>
<script>
require(['eterm', 'dt'], function (eterm, dt){
var tpl = {};
var setCommend = function(command){
// -------------------- 函数内的全局变量 --------------------


// -------------------- 请求 --------------------
// 保存记录
var saveHoldSeat = new command.ReqCommand({
	url: eterm.const.Controller + 'saveHoldSeat',
	clk: function(res){
		if(res.msg)
			alert(res.msg)

		if(res.status){
			console.log(res)
		}
	}
}) 

// 查询记录
var searchHoldSeat = new command.ReqCommand({
	url: eterm.const.Controller + 'searchHoldSeat',
	clk: function(res){
		if(res.msg)
			alert(res.msg)

		if(res.status){
			console.log(res)
			mkTable(res.result, 'search-result', '#content')
		}
	}
}) 

// 删除记录
var deleteHoldSeat = new command.ReqCommand({
	url: eterm.const.Controller + 'deleteHoldSeat',
	clk: function(res){
		if(res.msg)
			alert(res.msg)

		if(res.status){
			console.log(res)
			window.location.reload();
		}
	}
}) 


// -------------------- 触发器 --------------------
// 新增记录
$('#add-new').click(function(){
	var noteModel = new command.OtherModel("贴入记录", 
		`<textarea class="form-control" id='note-input' cols="30" rows="5" style='background-color:black;color:green;'></textarea><br><div id='note-anlysis-result'></div>`,
		`<button type="button" class="btn btn-primary" id='note-submit'>保存</button><button type="button" class="btn btn-default"  data-dismiss="modal" onclick='javascript:window.location.reload();'>关闭</button>`,
		'medium'
	);
	noteModel.show();
})


// 保存note
$('body').on('click', '#note-submit', function(){
	var noteSrc = $('#note-input').val();
	var note = command.parseNoteInput(noteSrc);
	console.log(note)
	if(note){
		$('#note-anlysis-result').html(command.mkNoteTable( note ));
		saveHoldSeat.execute( {'note': JSON.stringify(note), 'source': noteSrc} );
	}
})

// 查询记录
$('#search-note').click(function(){
	var searchNoteModel = new command.OtherModel("贴入记录", 
		`<textarea class="form-control" id='note-input' cols="30" rows="5" style='background-color:black;color:green;'></textarea><br><div id='note-anlysis-result'></div>`,
		`<button type="button" class="btn btn-primary" id='search-note-submit'>查询</button><button type="button" class="btn btn-default" id='search-note-anlysis'>解析</button><button type="button" class="btn btn-default"  data-dismiss="modal" >关闭</button>`,
		'medium'
	);
	searchNoteModel.show();
})

// 解析并回填 note
$('body').on('click', '#search-note-anlysis', function(){
	var noteSrc = $('#note-input').val();
	var note = command.parseNoteInput(noteSrc);
	// 保存
	eterm.eterm.note = note;
	if(note){
		// 生成解析表格
		$('#note-anlysis-result').html(mkSearchNoteTable( note ));
		console.log(note)
	}
})

// 查询note
$('body').on('click', '#search-note-submit', function(){
	if(eterm.eterm.note){
		// 获得目标舱位
		for(var i in eterm.eterm.note.note){
			eterm.eterm.note.note[i].searchCabinList = $('#cabin-'+i).val();
		}
		searchHoldSeat.execute( {'note': JSON.stringify(eterm.eterm.note)} )
	}
})


// 删除记录
$("#content").on('click', '.delete-note', function(){
	deleteHoldSeat.execute( { sid: $(this).data('sid')} );
})

}
setCommend(eterm.createCommand(eterm.eterm, tpl));

// 展示记录 
function mkSearchNoteTable(array){
	if( !array ) return;
		html =`
		  <table class="table table-hover table-bordered table-responsive">
		  <thead>
				<tr>
					<th>序号</th>
					<th>出发</th>
					<th>到达</th>
					<th>航班号</th>
					<th>舱位</th>
					<th>航段组</th>
					<th>状态</th>
					<th>人数</th>
					<th>日期</th>
					<th>出发时间</th>
					<th>到达时间</th>
					<th>目标舱位</th>
				</tr>
			</thead>
	`
	for(var i in array.note){
		html += `
				<tr>
					<td>${i}</td>
					<td>${array.note[i].depart}</td>
					<td>${array.note[i].arrive}</td>
					<td>${array.note[i].flight}</td>
					<td>${array.note[i].cabin}</td>
					<td>${array.note[i].group}</td>
					<td>${array.note[i].status}</td>
					<td>${array.note[i].total}</td>
					<td>${array.note[i].date}</td>
					<td>${array.note[i].departTime}</td>
					<td>${array.note[i].arriveTime}</td>
					<td><input type='text' class='form-control' id="cabin-${i}" onblur="upper(this)" placeholder='多个舱位请用,隔开' value=''><br></td>
				</tr>
		`
	}
	html += '</table>';
	return html;
}

// 展示查询到的记录
function mkTable(array, target, wrap, type){
	'use strict';

	if(!array) return;

	let html = '', 
			appendType = type !== ""? type : 'w',
	  	context = wrap !== "" ? wrap : document;

		html =`
		  <table class="${target} table table-hover table-bordered table-responsive">
		  <thead>
				<tr>
					<th>序号</th>
					<th>记录</th>
					<th>PNR</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
	`
	for(var i in array){
		html += `
				<tr>
					<td>${i}</td>
					<td><textarea cols="90" rows="5" readonly="readonly">${array[i].Source}</textarea></td>
					<td>${array[i].PNR}</td>
					<td>${new Date((array[i].GmtCreate -0)*1000).format("yyyy-MM-dd hh:mm:ss")}</td>
					<td><!--<a href='#' class='note-display' data-sid="${array[i].Id}">查看详情</a> | --><a href='#' data-sid="${array[i].Id}" class='delete-note'>删除</a></td>
				</tr>
		`
	}
	html += '</table>';

	appendType === 'a'? $(context).append(html): $(context).html(html);
}

})

</script>
<{/block}>