<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title><{block name="title"}><{/block}></title>
	<link rel="stylesheet" href='__PUBLIC__css/bootstrap.min.css'> 
	<link rel="stylesheet" href='__PUBLIC__css/style.css?ver=__VERSION__'> 
	<link rel="stylesheet" href="__PUBLIC__css/font-awesome/css/font-awesome.min.css"  >

	<!-- DataTables CSS -->
	<link href="__PUBLIC__js/lib/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

	<!-- DataTables Responsive CSS -->
	<link href="__PUBLIC__js/lib/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

  <!-- Datatimepicker CSS -->
  <link href="__PUBLIC__js/lib/datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">

	<script src="__PUBLIC__js/require.js" data-main="__PUBLIC__js/eterm.js?ver=__VERSION__"></script>

	<script>
	function upper(target){
  	if(target.value!=target.value.toUpperCase()) target.value=target.value.toUpperCase();
	}
	</script>
	<style>
		body{ overflow: auto !important;}
	</style>
</head>
<body >
	<{include './admin-bar.html'}>
	<div class='contain'>
		<{include './nav.html'}>
		<{block name="content"}><{/block}>
	</div>
</body>
</html>
