<nav class="navbar navbar-default nav-main">
    <!--  navbar-inverse -->
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="xfsd"><a href="__URL__admin/eterm/xfsd">运价(etern)</a></li>
                <li class="avh"><a href="__URL__admin/eterm/avh">舱位(eterm)</a></li>
                <li class="fsl"><a href="__URL__admin/eterm/fsl">航路(eterm)</a></li>
                <li class="dropdown hotcity">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">工作流程<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="__URL__admin/hotcity/plan">热门城市计划任务</a></li>
                        <li><a href="__URL__admin/lowcabin/avhplan">舱位计划任务</a></li>
                        <!-- <li class="price"><a href="__URL__admin/hotcity/price">政策</a></li> -->
                        <li role="separator" class="divider"></li>
                        <li class="lowCabin"> <a href="__URL__admin/lowcabin/saveSeat">占座</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="lowCabin"> <a href="__URL__admin/lowcabin/index">降舱</a></li>
                    </ul>
                </li>
                <li class="dropdown basis">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">基础数据<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="__URL__admin/basis/hotCity">设置热门城市</a></li>
                        <li><a href="__URL__admin/basis/aircompany">航空公司</a></li>
                        <li><a href="__URL__admin/basis/routing">航路</a></li>
                    </ul>
                </li>
            </ul>
            <div class='navbar-right-bm nav-title'><{block name="title"}><{/block}></div>
        </div>
    </div>
</nav>

