<nav class="navbar navbar-default nav-main">
    <!--  navbar-inverse -->
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="xfsd"><a href="__URL__admin/eterm/xfsd">运价(etern)</a></li>
                <li class="avh"> <a href="__URL__admin/eterm/avh">舱位(eterm)</a></li>
                
                <!-- <li class="cmdText"><a href="__URL__admin/cmdText.php">命令池</a></li> -->

                <!-- <li class='cabinSabre'><a href="__URL__admin/av.sabre.php">舱位(sabre)</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">产品模型 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu"> -->
                        <!-- <li><a href="__URL__admin/production.php?display=1">产品模型一</a></li> -->
                        <!-- <li><a href="__URL__admin/production.php?display=2">产品模型二</a></li>
                        <li><a href="__URL__admin/production.php?display=3">政策抓取(TaoBao)</a></li>
                        <li><a href="__URL__admin/routing.php">SS舱位</a></li>
                    </ul>
                </li> -->
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">工具<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu"> -->
                        <!-- <li><a href="__URL__admin/check.php?display=1">校检客票状态</a></li> -->
                        <!-- <li><a href="__URL__admin/plan.php?display=1">av计划任务（sabre）</a></li>
                        <li><a href="__URL__admin/plan.php?display=2">avh计划任务（eterm）</a></li>
                        <li><a href="__URL__admin/fsi.php">FSI命令询价</a></li>
                        <li><a href="__URL__admin/cmdText.php">命令池输入</a></li>
                        <li> <a href="__URL__admin/av.old.php">航班查询</a></li> -->
                        <!-- <li><a href="__URL__admin/routing.php?display=1">航空公司站点图</a></li> -->
                    <!-- </ul>
                </li> -->
            </ul>

            <div class='navbar-right-bm nav-title'><{block name="title"}><{/block}></div>
        </div>
    </div>
</nav>

