<{extends file='../layout.html'}>

<{block name="title"}>政策数据<{/block}>
<{block name="content"}>

<div class="panel panel-default">
	<div class="panel-body">

				<div class="form-inline">
						<div class="input-group">
							<span class="input-group-addon" id="input-start">出发</span><input type="text" name='start' id='start'  aria-describedby="input-start" placeholder='机场代码' class='form-control' onblur="upper(this)" style='width:100px'>

							<span class="input-group-addon" id="input-end">到达</span><input type="text" name='end' id='end' aria-describedby="input-end" placeholder='机场代码' class='form-control'  onblur="upper(this)" style='width:100px'>

							<span class="input-group-addon" id="input-startDate">去程日期</span><input type="text" name='startDate' id='startDate'  aria-describedby="input-startDate" class='form-control datetimepicker'  onblur="upper(this)"  style='width:100px'>

							<span class="input-group-addon" id="input-aircompany">航空公司</span><input type="text" name='aircompany' id='aircompany' aria-describedby="input-aircompany" placeholder='两字码' class='form-control'  onblur="upper(this)"  style='width:100px'>
						</div>
							
						<div class="input-group">
							<!-- <label class="radio-inline">
								<input type="radio" id='allType'  class='tripType' name="tripType" value='' checked> 全部
							</label> -->

							<!-- <label class="radio-inline">
								<input type="radio" id='sigleLine' class='tripType' name="tripType" value='OW'> 单程
							</label> -->
								
							<label class="radio-inline">
								<input type="radio" id='cbackLine' class='tripType' name="tripType" value='RT' checked> 往返
							</label>	
						</div>
							
						<div class="input-group">
							<input type="submit" name='dosubmit' id="dosubmit" value="查询" class='btn btn-primary'>
						</div>	
						<div class="input-group">
							<input type="button" id="test" value='test' class='btn btn-default'>
						</div>	
						
				</div>
		<!-- form-inline -->
	</div>
	<!-- "panel-body -->
</div>
<!-- panel -->

<div id="content-progress"></div>
<div id="content"></div>
    
<script>
require(['eterm', 'dt'], function (eterm, dt){


var setCommend = function(command){

	// 测试
	$('#test').click(function(){
		$('#start').val('PEK')
		$('#end').val('EWR')
		$('#startDate').val('2017-09-05')
		$('#aircompany').val('UA')
		$(".tripType").val('RT')

		command.searchComposePolicy({
			dep:        $('#start').val(),
			arr:        $('#end').val(),
			date:       $('#startDate').val(),
			aircompany: $('#aircompany').val(),
			tripType:   $(".tripType:checked").val(),
		})
	})

	// 开始查询
	$('#dosubmit').click(function(){
		command.searchComposePolicy({
			dep:        $('#start').val(),
			arr:        $('#end').val(),
			date:       $('#startDate').val(),
			aircompany: $('#aircompany').val(),
			tripType:   $(".tripType:checked").val(),
		})
	})

    // 日期控件
  $('.datetimepicker').datetimepicker({
    language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
  });
}

var tpl = {
	mkTable:mkTable,
}

// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm,tpl));

function mkTable(data, dom, wrap, type){

		let html = '', 
				dep = '', arr = '', cur_arr = '', cur_dep = '', routingBy1 = [], 
				appendType = type !== ""? type : 'w',
		  	context = wrap !== "" ? wrap : document;


		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}

}


$(function(){
	$('.nav>li').removeClass('active');
	$('.nav>.policy').addClass('active');
})


})

</script>
<{/block}>