<{extends file='layout.html'}>

<{block name="title"}>产品模型一（Product A Group Team）<{/block}>
<{block name="content"}>
<div class="panel panel-default">
	<!-- <form action="" method='POST'> -->
    <div class="panel-body">
			<div class="form-inline">
				<div class="row">
					<div class="col-lg-3">
						<label for="depCity">去程</label>
						<input type="text" name='depCity' id='depCity' value='' class='form-control' onblur="upper(this)" style='width:100px'>
						<label for="depDate">日期：</label>
						<input type="text" name='depDate' id='depDate' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>
					</div>

					<div class="col-lg-3">
						<label for="arrCity">回程：</label>
						<input type="text" name='arrCity' id='arrCity' value='' class='form-control' placeholder='' onblur="upper(this)" style='width:100px'>					
						<label for="arrDate">日期：</label>
						<input type="text" name='arrDate' id='arrDate' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>
					</div>

					<div class="col-lg-4">
						<label for="aircompany">航司：</label>
						<input type="text" name='aircompany' id='aircompany' value='' class='form-control'  onblur="upper(this)"  style='width:50px'>
											&nbsp;
						<input type="text" name='private' placeholder='例如CBJS1012'  class='form-control'  onblur="upper(this)" style='width:120px'>
						 &nbsp; / &nbsp;
						<input type="text" name='other' placeholder='自定义' class='form-control'  onblur="upper(this)" style='width:120px'>
					</div>

					<div class="col-lg-1">
	<!-- 					&nbsp;
						<input type="radio" id='allType' name="tripType" value='' checked>
						<label for="allType">全部</label>
						<input type="radio" id='sigleLine' name="tripType" value='*OW'>
						<label for="sigleLine">单程</label>
						<input type="radio" id='cbackLine' name="tripType" value='*RT'>
						<label for="cbackLine">往返</label> -->


					<input type="submit" name='dosubmit' id='dosubmit' value="查询" class='btn btn-primary'>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<label>工具：</label><input type="button" name="toCNY" id="toCNY" value="NUC->CNY" change="XS FSC NUC/CNY" class='btn btn-primary'>
					</div>
				</div>
					
			</div>
		</div>
	<!-- </form> -->
</div>
<div class="panel panel-default">
    <div class="panel-body">
        查询时，请不要包含中转点
        <div id='lab'></div>
    </div>
</div>
<div id="content-dep"></div>
<div id="content-arr"></div>
<script>


$('#dosubmit').click(function(){
	// getData('/eterm/admin/xfsd.php',"dosubmit=&start="+$('#start').val()+"&end="+$('#end').val()+"&startDate="+$('#startDate').val()+"&aircompany="+$('#aircompany').val()+"&private="+($("#private").val() || "")+"&tripType="+$(".tripType:checked").val()+"&other="+($("#other").val() || ""))


    

	// 默认往返
	rmTable('table');


	progress({context: '#content-dep'}).after(function(){
		
		that = this;
		setTimeout(function(){
			$('#content-dep').append('<p>去程</p>');
			var dep = getData('/eterm/admin/xfsd.php', "dosubmit=&start=BJS&end=DXB&startDate=19JAN&aircompany=EK&private=&tripType=&other=");
			mkTable(dep.array, 'table', '#content-dep');
	    that.complete()
		}, 1000)

	});



	// $('#content-arr').append('<p>回程</p>');
	// var arr = getData('/eterm/admin/xfsd.php',"dosubmit=&start=BJS&end=ROM&startDate=13JAN&aircompany=EK&private=&tripType=&other=");
	// mkTable(arr.array, 'table');


})

$(".policy").click(function(){
	
	// getData()
})

function getData(url, query){
	// $('#content').html('<div class="progress progress-striped active"> <div class="progress-bar" style="width: 2%"></div></div>')
	// $progress = $('.progress');
	// $bar = $('.progress>.progress-bar');
	// $progress.show();
	
	var result;
	$.ajax({
		url: url,
		type: 'POST',
		async: false,
		data: query,
		success: function(msg){
			msg = eval('['+msg+']')[0];
			console.log(msg)
			result =  msg;
		},
		error: function(msg){
			console.log(msg);
		}
	})
	.done(function(msg){

		// 加载完成
		// $bar.css('width','100%');
		// $('#lab').show();

		// 重置加载
		// setTimeout(function(){
			// $progress.hide();
			// $bar.css('width','2%');
		// },600)
	})
	return result;
}

function rmTable(dom){
	$('.'+dom).remove();
}

function mkTable(array, dom, target){
	"use strict";
	// ES6 

	let html = '';
	for(let arr in array){
		html += `<table class="${dom} table-hover table-bordered table-responsive">
			<tr>
				<th>序号</th>
				<th>fare</th>
				<th>特殊规则</th>
				<th>提前出票</th>
				<th>单程价格</th>
				<th>往返价格</th>
				<th>舱位</th>
				<th>最短停留</th>
				<th>最长停留</th>
				<th>适用截止日期</th>
				<th>退票规则</th>
				<th>可用星期</th>
				<th>出发</th>
				<th>到达</th>
				<th>航空公司</th>
				<th>来源</th>
				<th>方向</th>
				<th>查询日期</th>
				<th>操作</th>
			</tr>`
		for(let line =0;line< array[arr]['length']; line++){
			html += `
			<tr class='line'>
				<td class='index' >${array[arr][line]['index']}</td>
				<td class='fare'>${array[arr][line]['fare']}</td>
				<td class='special'>${array[arr][line]['special']}</td>
				<td class='ADVPDay'>${array[arr][line]['ADVPDay']}</td>
				<td class='singleLineFee'>${array[arr][line]['singleLineFee']}</td>
				<td class='backLineFee'>${array[arr][line]['backLineFee']}</td>
				<td class='seat'>${array[arr][line]['seat']}</td>
				<td class='minStay'>${array[arr][line]['minStay']}</td>
				<td class='maxStay'>${array[arr][line]['maxStay']}</td>
				<td class='allowDate'>${array[arr][line]['allowDateStart']} - ${array[arr][line]['allowDateEnd']}</td>
				<td class='reTicket'>${array[arr][line]['reTicket']}</td>
				<td class='allowWeek'>${array[arr][line]['allowWeek']}</td>
				<td class='start'>${array[arr][line]['start']}</td>
				<td class='end'>${array[arr][line]['end']}</td>
				<td class='aircompany'>${array[arr]['aircompany']}</td>
				<td class='from'>${array[arr]['from']}</td>
				<td class='direction'> ${array[arr][line]['direction']}</td>
				<td class='setDate'>${array[arr]['startDate']}</td>
				<td class=''> 
					<a href="fare.php?display=1&fare=${array[arr][line]['fare']}&start=${array[arr][line]['start']}&end=${array[arr][line]['end']}&startDate=${array[arr]['startDate']}&aircompany=${array[arr]['aircompany']}&from=${array[arr]['from']}"> 使用规则</a>
					<a class="policy" url="dosubmit=all&fare=${array[arr][line]['fare']}&start=${array[arr][line]['start']}&end=${array[arr][line]['end']}&startDate=${array[arr]['startDate']}&aircompany=${array[arr]['aircompany']}&from=${array[arr]['from']}"> 回填规则</a>
				</td>
			</tr>
			`
		}
		html += `</table>`
	}
	$(target).append(html);
}


// 转换汇率
$('#toCNY').click(function(){
	$.ajax({
		type: "POST",
		url: "/eterm/admin/xfsd.php?",
		data: "toCNY=&command="+ $("#toCNY").attr('change'),
		success: function(msg){
			var rate = parseInt(msg);
			if(rate != 0){
				$('.singleLineFee, .backLineFee').each(function(){
					// console.log(parseInt($(this).text())*rate);
					var rs = parseInt($(this).text())*rate;
					if(rs) $(this).text( Math.ceil(rs/10)*10 );
					
				})
				$('#lab').append("当前汇率："+msg);
			}
		},
		error: function(msg){
			console.log(msg);
		} 
	})
})

</script>
<{/block}>