<{extends file='layout.html'}>

<{block name="title"}>产品模型二（Cabin Package From Sabre）<{/block}>
<{block name="content"}>

<div class="panel panel-default">
  <div class="panel-body">
		<div class="form-inline">
			<div class="row">
				<div class="col-lg-11">
					<label for="start">出发地：</label>
					<input type="text" name='start' id='start' value='' class='form-control' onblur="upper(this)" style='width:100px'>
					
					<label for="end">目的地：</label>
					<input type="text" name='end' id='end' value='' class='form-control' onblur="upper(this)" style='width:100px'>
					
					<label for="startDate">起始日期：</label>
					<input type="text" data-date="" name='startDate' id='startDate' value='' class='form-control datetimepicker'  onblur="upper(this)"  style='width:100px'>
					
					<label for="endDate">结束日期：</label>
					<input type="text" data-date="" name='endDate' id='endDate' value='' class='form-control datetimepicker'  onblur="upper(this)"  style='width:100px'>
					
					<label for="depAirline">去程航班：</label>
					<input type="text" name='depAirline' id='depAirline' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>

					<label for="arrAirline">回程航班：</label>
					<input type="text" name='arrAirline' id='arrAirline' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>

					<label for="rangeDate">日期间隔：</label>
					<input type="text" name='rangeDate' id='rangeDate' value='' class='form-control' style='width:100px'>
				</div>


				<div class="col-lg-1">
					<!-- test -->
					<!-- <a href="#" id='test'>test progress</a> -->
					<input type="submit" name='dosubmit' id='dosubmit' value="查询" class='btn btn-primary'>
				</div>

			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<span class="addBtn"><a class="btn btn-default" data-toggle="modal" data-target="#setCabin">设置舱位等级</a></span>
					<a href="#" class="hotline" id='EK309-EK308'>EK309-EK308</a>
					<a href="#" class="hotline" id='EK307-EK306'>EK307-EK306</a>
					<a href="#" class="hotline" id='EK305-EK304'>EK305-EK304</a>
					<a href="#" class="hotline" id='EK303-EK302'>EK303-EK302</a>
					<a href="#" class="hotline" id='EK363-EK362'>EK363-EK362</a>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="bs-component" id='hotalert' style='display:none'>
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div class='content-alert'>
        <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important
        alert message</a>.
        </div>
    </div>
</div>
<!-- 备注 -->
<!-- <div class="panel panel-default">
    <div class="panel-body">
        
        <div id='lab'></div>
    </div>
</div> -->
<div class="row" id='content'>
	<div id="content-progress"></div>
	<div class="col-lg-12">
		<div id="content-dep"></div>
	</div>
	<div class="col-lg-12">
		<div id="content-arr"></div>
	</div>
</div>

<!-- 舱位筛选 -->
<div class="modal fade" id="setCabin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">设置舱位等级</h4>
          </div>
          <div class="modal-body">
							<div class="form-group col-lg-6" id='seatLevel' style="display:none;">
								<select multiple="multiple"  class="form-control" style="height:210px">
		            </select>
							</div>
          		<div class="col-lg-6">
								<div class="form-group">
									<label for="" class="control-label" >头等舱</label>
									<input type="text" class="form-control" id='f-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">商务舱</label>
									<input type="text" class="form-control" id='b-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">经济舱</label>
									<input type="text" class="form-control" id='e-cabin' onblur="upper(this)" >
								</div>
          		</div>
					<p>逗号分隔</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" id='mkTable'>生成</button>
          </div>
      </div>
  </div>
</div>
<script>
var $start, $end, $startDate, $endDate, $depAirline, $arrAirline, $rangeDate;
var hot = {
	'EK309-EK308':{
		dep: {
			start: 'PEK',
			end: 'DXB',
			depTime: '0650',
			arrTime: '1140',
			airline: 'EK309',
			airType: '77w'
		},
		arr: {
			start: 'DXB',
			end: 'PEK',
			depTime: '1110',
			arrTime: '2230',
			airline: 'EK308',
			airType: '77w'				
		}
	},
	'EK307-EK306':{
		dep: {
			start: 'PEK',
			end: 'DXB',
			depTime: '2340',
			arrTime: '0420+1',
			airline: 'EK307',
			airType: '338'
		},
		arr: {
			start: 'DXB',
			end: 'PEK',
			depTime: '0330',
			arrTime: '1445',
			airline: 'EK306',
			airType: '338'				
		}
	},
	'EK305-EK304':{
		dep: {
			start: 'PVG',
			end: 'DXB',
			depTime: '0615',
			arrTime: '1220',
			airline: 'EK305',
			airType: '77W'
		},
		arr: {
			start: 'DXB',
			end: 'PVG',
			depTime: '0915',
			arrTime: '2105',
			airline: 'EK304',
			airType: '77W'				
		}
	},
	'EK303-EK302':{
		dep: {
			start: 'PVG',
			end: 'DXB',
			depTime: '2300',
			arrTime: '0515+1',
			airline: 'EK303',
			airType: '338'
		},
		arr: {
			start: 'DXB',
			end: 'PVG',
			depTime: '0310',
			arrTime: '1505',
			airline: 'EK302',
			airType: '338'				
		}
	},
	'EK363-EK362':{
		dep: {
			start: 'CAN',
			end: 'DXB',
			depTime: '0015',
			arrTime: '0515',
			airline: 'EK363',
			airType: '338'
		},
		arr: {
			start: 'DXB',
			end: 'CAN',
			depTime: '1050',
			arrTime: '2145',
			airline: 'EK362',
			airType: '338'				
		}
	}
}

require(['eterm'], function(){
	
$('#test').click(function(){
	$start = 'PEK',
	$end = 'DXB',
	$startDate = '15Feb',
	$endDate = '25Feb',
	$depAirline = 'EK309',
	$arrAirline = 'EK308',
	$rangeDate = '25';
	progress({context: '#content-progress'}).push(function(i){
			
		return console.log('i'+i);
			
	}).push(function(){
			// a = getData('/eterm/admin/av.sabre.php', 'dosubmit=cabin&start='+$start+'&end='+$end+'&startDate='+$startDate+'&endDate='+$endDate+'&airline='+$depAirline)
		return setTimeout(function(){
			console.log('2');

		},1000)
	}).finished()
})



$('.hotline').click(function(){
	$id = $(this).attr('id');
	$('#start').val(hot[$id]['dep']['start']);
	$('#end').val(hot[$id]['dep']['end']);
	$('#depAirline').val(hot[$id]['dep']['airline']);
	$('#arrAirline').val(hot[$id]['arr']['airline']);

	$('#hotalert').show().find('.content-alert').html('<strong>去程</strong> 时间：'+hot[$id]['dep']['depTime']+'->'+hot[$id]['dep']['arrTime']+'：'+hot[$id]['dep']['airType']+',<strong>回程</strong> 时间：'+hot[$id]['arr']['depTime']+'->'+hot[$id]['arr']['arrTime']+'：'+hot[$id]['arr']['airType'])
})

$('#dosubmit').click(function(){
	$start = $('#start').val(),
	$end = $('#end').val(),
	$startDate = $('#startDate').val(),
	$endDate = $('#endDate').val(),
	$depAirline = $('#depAirline').val(),
	$arrAirline = $('#arrAirline').val(),
	$rangeDate = $('#rangeDate').val();
    
 //  $start = 'PEK',
	// $end = 'DXB',
	// $startDate = '15Feb',
	// $endDate = '25Feb',
	// $depAirline = 'EK309',
	// $arrAirline = 'EK308',
	// $rangeDate = '25';

	// 默认往返
	rmTable('table-res');

	var a, // 去程数据
			b  // 回程数据

	progress({context: '#content-progress'}).after(function(){

		a = getData('/eterm/admin/av.sabre.php', 'dosubmit=cabin&start='+$start+'&end='+$end+'&startDate='+$startDate+'&endDate='+$endDate+'&airline='+$depAirline)

				mkTable(a.array, 'table-res', '#content-dep');
				mkSeatLevel(a.array);
				$('#content-arr').append('<hr style="border:1px solid orange">')
	}).after(function(){

		if($rangeDate !== ""){
			var _startDate = new Date($startDate),
					_endDate = new Date($endDate);
			var $arrstartDate = new Date(),
					$arrendDate = new Date();
			$arrstartDate.setMonth(_startDate.getMonth(), _startDate.getDate()+parseInt($rangeDate));
			$arrendDate.setMonth(_endDate.getMonth(), _endDate.getDate()+parseInt($rangeDate));
		}

		b = getData('/eterm/admin/av.sabre.php', 'dosubmit=cabin&start='+$end+'&end='+$start+'&startDate='+$arrstartDate.toDateString()+'&endDate='+$arrendDate.toDateString()+'&airline='+$arrAirline)
				mkTable(b.array, 'table-res', '#content-arr');

	}).after(function(){

			$('#mkTable').click(function(){
				rmTable('table-res');
				mkTable(a.array, 'table-res', '#content-dep');
				
				$('#content-arr').append('<hr style="border:1px solid orange">')

				mkTable(b.array, 'table-res', '#content-arr');
			})

	});
})



function getData(url, query){

	var result;
	$.ajax({
		url: url,
		type: 'POST',
		async: false,
		data: query,
		success: function(msg){
			msg = eval('['+msg+']')[0];
			console.log(msg)
			result =  msg;
		},
		error: function(msg){
			console.log(msg);
		}
	})
	return result;
}

function rmTable(dom){
	$('.'+dom).remove();
}

function mkTable(data, className, container){
	// 绘制表格
	var html = "", 
			fcabin = ($('#f-cabin').val()).split(',')[0] !== ""? ($('#f-cabin').val()).split(',') : [],
			bcabin = ($('#b-cabin').val()).split(',')[0] !== ""? ($('#b-cabin').val()).split(',') : [],
			ecabin = ($('#e-cabin').val()).split(',')[0] !== ""? ($('#e-cabin').val()).split(',') : [],

			fcabinhtml = "", bcabinhtml = "", ecabinhtml = "";

	var totalcabin = [].concat(fcabin,bcabin,ecabin);

	html = '<table class="'+className+' table table-hover table-bordered table-responsive" id="origData">';

	if( totalcabin.length > 0 ){
		html += '<tr><th rowspan=2 >日期</th><th rowspan=2>航班</th><th rowspan=2>行程</th>';
		if(fcabin.length > 0){
			html += '<th colspan='+fcabin.length+'>头等舱</th>';
			for( var f in fcabin){
				fcabinhtml += '<th>'+fcabin[f]+'</th>';
			}
		}
		if(bcabin.length > 0){
			html += '<th colspan='+bcabin.length+'>商务舱</th>';
			for( var b in bcabin){
				bcabinhtml += '<th>'+bcabin[b]+'</th>';
			}
		}
		if(ecabin.length > 0){
			html += '<th colspan='+ecabin.length+'>经济舱</th>';
			for( var e in ecabin){
				ecabinhtml += '<th>'+ecabin[e]+'</th>';
			}
		}
		html += '</tr>';
		html += '<tr>'+fcabinhtml+bcabinhtml+ecabinhtml+'</tr>';
	}

	for( var i in data ){
		html += "<tr>";
		html += "<td>"+data[i].date+"</td><td>"+data[i].airline+"</td><td>"+data[i].start+"-"+data[i].end+"</td>"; //  
		if(totalcabin.length===0){
			for(var o in data[i].cabin){
				html += "<td>"+o+":"+data[i].cabin[o]+"</td>";
			}
		}else{
			if(data[i].cabin.length !== 0){
				for(var o in totalcabin){
						html += "<td>"+data[i].cabin[(totalcabin[o])]+"</td>";
				}
			}
		}
		html += "</tr>";
	}
	html += '</table>';
	$(container).append(html);
}

function mkSeatLevel(data){
	var longestCabinId = 0;
	var html = "";
	for( var i in data ){
		if(data[i].cabinLength > data[longestCabinId].cabinLength){
			longestCabinId = i;
		}
	}
	
	for(var i in data[longestCabinId].cabin){
		html += '<option>'+i+'</option>';
	}

	$('#seatLevel').show().children('select').append(html);
}

})








</script>
<{/block}>