<{extends file='layout.html'}>

<{block name="title"}>产品调价（TaoBao）<{/block}>
<{block name="content"}>

<div class="panel panel-default">
  <div class="panel-body">
		<div class="form-inline">
			<div class="row">
				<div class="col-lg-5">
					<label for="start">出发地：</label>
					<input type="text" name='start' id='start' value='' class='form-control' onblur="upper(this)" style='width:100px'>

					<label for="startDate">起始日期：</label>
					<input type="text" data-date="" name='startDate' id='startDate' value='' class='form-control datetimepicker'  onblur="upper(this)"  style='width:100px'>

					<label for="depAirline">去程航班：</label>
					<input type="text" name='depAirline' id='depAirline' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>
				</div>
				
				<div class="col-lg-5">
					<label for="end">目的地：</label>
					<input type="text" name='end' id='end' class='form-control' onblur="upper(this)" style='width:100px'>
					
					<label for="endDate">结束日期：</label>
					<input type="text" data-date="" name='endDate' id='endDate' value='' class='form-control datetimepicker'  onblur="upper(this)"  style='width:100px'>
					
					<label for="arrAirline">回程航班：</label>
					<input type="text" name='arrAirline' id='arrAirline' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-12">
<!-- 					<label for="rangeDate">日期间隔：</label>
					<input type="text" name='rangeDate' id='rangeDate' value='' class='form-control' style='width:100px'> -->

<!-- 					<label for="private">私有运价编码：</label>
					<input type="text" name='private' id='private' value='' class='form-control' style='width:100px'> -->

					<input type="submit" name='TEST' id='test' value="TEST" class='btn btn-default'>
					<input type="submit" name='dosubmit' id='dosubmit' value="查询" class='btn btn-primary'>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="bs-component" id='hotalert' style='display:none'>
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div class='content-alert'>
        <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important
        alert message</a>.
        </div>
    </div>
</div>
<!-- 备注 -->
<!-- <div class="panel panel-default">
    <div class="panel-body">
        
        <div id='lab'></div>
    </div>
</div> -->
<div class="row">
	<div class="col-lg-12">
		
		<div id="content-progress"></div>
		<div id='content'></div>
		
	</div>
</div>


<script>
require(['eterm'], function(eterm){

var setCommend = function(command){
	$('#dosubmit').click(function(){
		command.productModify({
			start: $('#start').val(),
			startDate: $('#startDate').val(),
			depAirline: $('#depAirline').val(),
			end: $('#end').val(),
			endDate: $('#endDate').val(),
			arrAirline: $('#arrAirline').val(),
			rangeDate: $('#rangeDate').val(),
			private: $('#private').val(),
		});
	})

	$('#test').click(function(){
		command.productModify({
			start: 'PEK', // taobao: BJS 城市代码
			startDate: '05JUL',
			depAirline: 'EK309',
			end: 'DXB',
			endDate: '15JUL',
			arrAirline: 'EK308',
			rangeDate: '3',
			private: '',
		});
	})
}

var tpl = {
	mkTable: mkTable,
	mkCabinTpl: mkCabinTpl
}
setCommend(eterm.createCommand(eterm.eterm, tpl));

function mkTable(array, dom, wrap, type){
	// array: 返回数据中待渲染数组
	// dom: 为渲染模板起名
	// context: 指定渲染容器
	// appendType: 回填模式 w代表覆盖，a代表追加

		"use strict";
		// ES6 

		let html = '',
				appendType = type !== ""? type : 'w',
			  context = wrap !== "" ? wrap : document;

		for(let arr in array){
			html += `<table class="${dom} table-hover table-bordered table-responsive">
				<tr>
					<th>序号</th>
					<th>fare</th>
					<th>特殊规则</th>
					<th>提前出票</th>
					<th>单程价格</th>
					<th>往返价格</th>
					<th>舱位</th>
					<th>最短停留</th>
					<th>最长停留</th>
					<th>适用截止日期</th>
					<th>退票规则</th>
					<th>可用星期</th>
					<th>出发</th>
					<th>到达</th>
					<th>航空公司</th>
					<th>来源</th>
					<th>方向</th>
					<th>查询日期</th>
					<th>操作</th>
				</tr>`
				
			for(let line =0; line< array[arr]['length']; line++){
				html += `
				<tr class='line'>
					<td class='index' >${array[arr][line]['index']}</td>
					<td class='fare'>${array[arr][line]['fare']}</td>
					<td class='special'>${array[arr][line]['special']}</td>
					<td class='ADVPDay'>${array[arr][line]['ADVPDay']}</td>
					<td class='singleLineFee'>${array[arr][line]['singleLineFee']}</td>
					<td class='backLineFee'>${array[arr][line]['backLineFee']}</td>
					<td class='seat'>${array[arr][line]['seat']}</td>
					<td class='minStay'>${array[arr][line]['minStay']}</td>
					<td class='maxStay'>${array[arr][line]['maxStay']}</td>
					<td class='allowDate'>${array[arr][line]['allowDateStart']} - ${array[arr][line]['allowDateEnd']}</td>
					<td class='reTicket'>${array[arr][line]['reTicket']}</td>
					<td class='allowWeek'>${array[arr][line]['allowWeek']}</td>
					<td class='start'>${array[arr][line]['start']}</td>
					<td class='end'>${array[arr][line]['end']}</td>
					<td class='aircompany'>${array[arr]['aircompany']}</td>`
					if(array[arr]['from'] == ''){
						html += `<td class='from'>公布运价</td>`
					}else{
						html += `<td class='from'>${array[arr]['from']}</td>`
					}
					html += `<td class='direction'> ${array[arr][line]['direction']}</td>
					<td class='setDate'>${array[arr]['startDate']}</td>
					<td class=''><a href="fare.php?display=1&fare=${array[arr][line]['fare']}&start=${array[arr][line]['start']}&end=${array[arr][line]['end']}&startDate=${array[arr]['startDate']}&aircompany=${array[arr]['aircompany']}&from=${array[arr]['from']}"> 使用规则</a>
					</td>
				</tr>
				`
			}
			html += `</table>`
		}

		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}
}

function mkCabinTpl(array, dom, wrap, type){
	// array: 返回数据中待渲染数组
	// dom: 为渲染模板起名
	// context: 指定渲染容器
	// appendType: 回填模式 w代表覆盖，a代表追加

		"use strict";
		$('.'+dom).remove();
		// ES6 
		let html = '',
				appendType = type !== ""? type : 'w',
			  context = wrap !== "" ? wrap : document;

		html += `<table class="${dom} table-hover table-bordered table-responsive">
			<tr>
				<th>序号</th>
				<th>出发</th>
				<th>到达</th>
				<th>日期</th>
				<th>航班</th>
				<th>舱位组合</th>
				<th>票面</th>
				<th>底价</th>
				<th>价格</th>
				<th>库存</th>
				<th>星期</th>
				<th>起飞时间</th>
				<th>到达时间</th>
			</tr>`
				
		for(let i =0; i< array['length']; i++){
			html += `
			<tr>
				<td>${i}</td>
				<td>${array[i].dep.start}</td>
				<td>${array[i].arr.start}</td>
				<td>${array[i].dep.date} - ${array[i].arr.date}</td>
				<td>${array[i].dep.airline}, ${array[i].arr.airline}</td>
				<td>${array[i].depCabin}, ${array[i].arrCabin}</td>
				<td>票面</td>
				<td>底价</td>
				<td>价格</td>
				<td>${array[i].val}</td>
				<td>星期</td>
				<td>起飞时间</td>
				<td>到达时间</td>
			</tr>
			`
		}
		html += `</table>`
		

		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}
}
})
</script>
<{/block}>