<{extends file='../layout.html'}>

<{block name="title"}>航空公司基础数据<{/block}>
<{block name="content"}>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="form-inline">

			<div class="input-group">
					<span class="input-group-addon" id="input-airCompany">航空公司</span><input type="text" name="airCompany" id="airCompany" placeholder="两字码" class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-airCompany">
			</div>

			<div class="input-group">
				<input type="submit" value="查询" name='dosubmit' id='dosubmit' class="btn btn-primary">
			</div>

			<div class="input-group">
				<button id='test' class='btn btn-default'>test</button>
			</div>

		</div>
		<!-- form-inline -->
	</div>
	<!-- "panel-body -->
</div>
<!-- panel -->

<div id="content-progress"></div>
<div id="content"></div>


    
<script>
require(['eterm', 'dt'], function (eterm, dt){


var setCommend = function(command){

	// 测试
	$('#test').click(function(){
		command.findAircompany({
			airCompanyCode: 'UA',
		})

		// command.basisAircompany()
	})

	// 开始查询
	$('#dosubmit').click(function(){
		command.findAircompany({
			airCompanyCode: $('#airCompany').val(),
		})
	})
}

var tpl = {
	mkTable:mkTable,
	render: render,
}

// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm,tpl));

function render(data, dom, wrap, type){
		console.log(data);
		let html = '',
				appendType = type !== ""? type : 'w',
		  	context = wrap !== "" ? wrap : document;

		  	html += `
				<div class="row ${dom}">

					<div class="col-lg-8">
						<div class="panel panel-default">
						  <!-- Default panel contents -->
						  <div class="panel-heading">航空公司：${data.result_flight[0].Fli_Airport}</div>
						  <!-- Table -->
						  <div class='panel-body'>
						  <table class="flight-table table table-hover table-bordered table-responsive">
						  <thead>
								<tr>
									<th>序号</th>
									<th>航空公司</th>
									<th>航班号</th>
									<th>自营</th>
									<th>出发</th>
									<th>出发时间</th>
									<th>到达</th>
									<th>到达时间</th>
									<th>飞行时间</th>
									<th>机型</th>
									<th>餐食</th>
									<th>距离</th>
								</tr>
							</thead>
							</table>
							</div>`
							for(var i = 0 ; i < data.result_flight.length; i++ ){
								data.result_flight[i].index = i;
								// html += `
								// <tr>
								// 	<td>${i}</td>
								// 	<td>${data.result_flight[i].Fli_Airport}</td>
								// 	<td>${data.result_flight[i].Fli_Flight}</td>
								// 	<td>${data.result_flight[i].Fli_SupportType}</td>
								// 	<td>${data.result_flight[i].Fli_Dep}</td>
								// 	<td>${data.result_flight[i].Fli_DepTime}</td>
								// 	<td>${data.result_flight[i].Fli_Arr}</td>
								// 	<td>${data.result_flight[i].Fli_ArrTime}</td>
								// 	<td>${data.result_flight[i].Fli_Fly}</td>
								// 	<td>${data.result_flight[i].Fli_Term}</td>
								// 	<td>${data.result_flight[i].Fli_Meal}</td>
								// 	<td>${data.result_flight[i].Fli_Distance}</td>
								// </tr>
								// `
							}

						  html += `
						</div>
					</div>

					<!-- 航空公司信息 -->
					<div class="col-lg-4">
						<div class="panel panel-default">
						  <div class="panel-heading">${data.aircompany.Air_ShortName} - ${data.aircompany.Air_Code}</div>
						  <div class="panel-body">
						  	<h4>${data.aircompany.Air_CNName}（${data.aircompany.Air_ENName}）</h4>
						    <p>${data.aircompany.Air_Remark}</p>
						  </div>
						  <ul class="list-group">
						    <li class="list-group-item">Tel: ${data.aircompany.Air_Tel}</li>
						    <!-- <li class="list-group-item">Website: ${data.aircompany.Air_Website}</li> -->
						  </ul>
						</div>						
					</div>

				</div>
		  	`;

		if(appendType === 'w'){
			$(context).html(html);
			$('.table').DataTable({
	        responsive: true,
	        data: data.result_flight,
	        columns: [
	            { data: "index" },
	            { data: "Fli_Airport" },
	            { data: "Fli_Flight" },
	            { data: "Fli_SupportType" },
	            { data: "Fli_Dep" },
	            { data: "Fli_DepTime" },
	            { data: "Fli_Arr" },
	            { data: "Fli_ArrTime" },
	            { data: "Fli_Fly" },
	            { data: "Fli_Term" },
	            { data: "Fli_Meal" },
	            { data: "Fli_Distance" },
	        ]
	    });
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}		  	

}
function mkTable(data, dom, wrap, type){ // (data, className, container)
	  "use strict";
		// ES6 
		console.log(data)
		let html = '',
				appendType = type !== ""? type : 'w',
			  context = wrap !== "" ? wrap : document;

			html += `<table class="${dom} table-hover table-bordered table-responsive">
				<tr>
					<th>序号</th>
					<th>代码</th>
					<th>中文</th>
					<th>英文</th>
					<th>电话</th>
					<th>简介</th>
					<th>国家</th>
				</tr>`
				
			for(let i =0; i< data.length; i++){
				html += `
				<tr>
					<td>${i}</td>
					<td>${data[i]['Air_Code']}</td>
					<td>${data[i]['Air_CNName']}</td>
					<td>${data[i]['Air_ENName']}</td>
					<td>${data[i]['Air_Tel']}</td>
					<td>${data[i]['Air_Remark']}</td>
					<td>${data[i]['Ctr_Id']}</td>
				</tr>
				`
			}
			html += `</table>`
		

		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}

}



	$(function(){
		// 导航
		$('.nav>li').removeClass('active');
		$('.nav>.basis').addClass('active');
	})

})



</script>
<{/block}>