<{extends file='../layout.html'}>

<{block name="title"}>航程<{/block}>
<{block name="content"}>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="form-inline">

			<div class="input-group">
					<span class="input-group-addon" id="input-start">出发</span><input type="text" name="start" id="start"  class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-start">
					<span class="input-group-addon" id="input-end">到达</span><input type="text" name="end" id="end" class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-end">
					<span class="input-group-addon" id="input-aircompany">航空公司</span><input type="text" name="airCompany" id="airCompany" placeholder="两字码" class='form-control' onblur="upper(this)" style='width:100px' aria-describedby="input-aircompany">
			</div>

			<div class="input-group">
				<input type="submit" value="查询" name='dosubmit' id='dosubmit' class="btn btn-primary">
			</div>

			<div class="input-group">
				<button id='test' class='btn btn-default'>test</button>
			</div>

		</div>
		<!-- form-inline -->
	</div>
	<!-- "panel-body -->
</div>
<!-- panel -->

<div id="content-progress"></div>
<div id="content"></div>
    
<script>
require(['eterm', 'dt'], function (eterm, dt){


var setCommend = function(command){

	// 测试
	$('#test').click(function(){
		command.searchRouting({
			airCompany: 'UA',
			dep: 'PEK',
			arr: 'LAX'
		})

		// command.basisAircompany()
	})

	// 开始查询
	$('#dosubmit').click(function(){
		command.searchRouting({
			airCompany: $('#airCompany').val(),
			dep: $('#start').val(),
			arr: $('#end').val()
		})
	})
}

var tpl = {
	mkTable:mkTable,
}

// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm,tpl));

function mkTable(data, dom, wrap, type){

		let html = '', 
				dep = '', arr = '', cur_arr = '', cur_dep = '', routingBy1 = [], 
				appendType = type !== ""? type : 'w',
		  	context = wrap !== "" ? wrap : document;

		  	// data = [].concat(data.result_dep, data.result_arr);

		  	// 匹配1个中转
		  	for(var i in data.result_dep){
		  		dep     = data.result_dep[i].Fli_Dep;
		  		cur_arr = data.result_dep[i].Fli_Arr;

		  		for (var j in data.result_arr){
		  			cur_dep = data.result_arr[j].Fli_Dep;
		  			arr     = data.result_arr[j].Fli_Arr;

		  			if(cur_arr == cur_dep ){
				  		var cur_arr_time = new Date(2017, 8, 21, data.result_dep[i].Fli_ArrTime.substr(0,2), data.result_dep[i].Fli_ArrTime.substr(2,2), 0).getTime();
			  			var cur_dep_time = new Date(2017, 8, 21, data.result_arr[j].Fli_DepTime.substr(0,2), data.result_arr[j].Fli_DepTime.substr(2,2), 0).getTime();

		  				if( cur_dep_time - cur_arr_time > 0 ){
			  				routingBy1.push({
			  					'aircompany': data.result_dep[i].Fli_Airport,
			  					'dep': dep,
			  					'depFlight': data.result_dep[i].Fli_Flight,
			  					'depSupportType': data.result_dep[i].Fli_SupportType,
			  					'depStartTime': data.result_dep[i].Fli_DepTime,
			  					'depEndTime': data.result_dep[i].Fli_ArrTime,
			  					'depFly': data.result_dep[i].Fli_Fly,
			  					'stay': cur_arr,
			  					'arrFlight': data.result_arr[j].Fli_Flight,
			  					'arrSupportType': data.result_arr[j].Fli_SupportType,
			  					'arrStartTime': data.result_arr[j].Fli_DepTime,
			  					'arrEndTime': data.result_arr[j].Fli_ArrTime,
			  					'arrFly': data.result_arr[j].Fli_Fly,
			  					'arr': arr,
			  					'routing': dep + '-' + cur_arr + '-' + arr + '-' + cur_arr + '-' + dep,
			  					'action': "<a href = '#' class='buildFsi' data-json='"+JSON.stringify({})+"'>fsi</a>",
			  				})
		  				}
		  			}

		  		}
		  	}

		  	// console.log(routingBy1);

		  	// 匹配2个中转


		  	html += `
		  	<div class="${dom}">
		  		<div class="row">

					  <!-- 一次中转 -->
						<div class="col-lg-12">
							<div class="panel panel-default">
						  <div class="panel-heading">航路：一次中转</div>
						  <div class='panel-body'>
							  <table class="routing-by1-table table table-hover table-bordered table-responsive">
							  <thead>
                  <tr>
                    <td rowspan = '2'>航空公司</td>
                    <td colspan ='6'>航程1</td>
                    <td rowspan = '2'>航程1：到达/航程2：出发</td>
                    <td colspan ='6'>航程2</td>
                    <td rowspan = '2'>航路</td>
                    <!-- <td rowspan = '2'>操作</td> -->
                  </tr>
                  <tr>
                    <td>出发</td>
                    <td>航班号</td>
                    <td>自营</td>
                    <td>出发时间</td>
                    <td>到达时间</td>
                    <td>飞行时间</td>
                    <td>航班号</td>
                    <td>自营</td>
                    <td>出发时间</td>
                    <td>到达时间</td>
                    <td>飞行时间</td>
                    <td>到达</td>
                  </tr>
									</tr>
								</thead>
								</table>
							</div>
							</div>
						</div>
					</div>

				  <!-- 出发 -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
						  <div class="panel-heading">出发</div>
						  <div class='panel-body'>
							  <table class="routing-dep-table table table-hover table-bordered table-responsive">
							  <thead>
									<tr>
										<th>航空公司</th>
										<th>航班号</th>
										<th>自营</th>
										<th>出发</th>
										<th>出发时间</th>
										<th>到达</th>
										<th>到达时间</th>
										<th>飞行时间</th>
										<th>机型</th>
										<th>餐食</th>
										<th>距离</th>
									</tr>
								</thead>
								</table>
							</div>
							</div>
						</div>
					</div>

				  <!-- 到达 -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
						  <div class="panel-heading">到达</div>
						  <div class='panel-body'>
							  <table class="routing-arr-table table table-hover table-bordered table-responsive">
							  <thead>
									<tr>
										<th>航空公司</th>
										<th>航班号</th>
										<th>自营</th>
										<th>出发</th>
										<th>出发时间</th>
										<th>到达</th>
										<th>到达时间</th>
										<th>飞行时间</th>
										<th>机型</th>
										<th>餐食</th>
										<th>距离</th>
									</tr>
								</thead>
								</table>
							</div>
							</div>
						</div>
					</div>
				</div>
		  	`;

		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}		
			$('.routing-by1-table').DataTable({
	        // responsive: true,
	        data: routingBy1,
	        columns: [
	            { data: "aircompany" },
	            { data: "dep" },
	            { data: "depFlight" },
	            { data: "depSupportType" },
	            { data: "depStartTime" },
	            { data: "depEndTime" },
	            { data: "depFly" },
	            { data: "stay" },
	            { data: "arrFlight" },
	            { data: "arrSupportType" },
	            { data: "arrStartTime" },
	            { data: "arrEndTime" },
	            { data: "arrFly" },
	            { data: "arr" },
	            { data: "routing" },
	            // { data: "action" },
	        ]
	    });
			$('.routing-dep-table').DataTable({
	        responsive: true,
	        data: data.result_dep,
	        columns: [
	            { data: "Fli_Airport" },
	            { data: "Fli_Flight" },
	            { data: "Fli_SupportType" },
	            { data: "Fli_Dep" },
	            { data: "Fli_DepTime" },
	            { data: "Fli_Arr" },
	            { data: "Fli_ArrTime" },
	            { data: "Fli_Fly" },
	            { data: "Fli_Term" },
	            { data: "Fli_Meal" },
	            { data: "Fli_Distance" },
	        ]
	    });
	    $('.routing-arr-table').DataTable({
	        responsive: true,
	        data: data.result_arr,
	        columns: [
	            { data: "Fli_Airport" },
	            { data: "Fli_Flight" },
	            { data: "Fli_SupportType" },
	            { data: "Fli_Dep" },
	            { data: "Fli_DepTime" },
	            { data: "Fli_Arr" },
	            { data: "Fli_ArrTime" },
	            { data: "Fli_Fly" },
	            { data: "Fli_Term" },
	            { data: "Fli_Meal" },
	            { data: "Fli_Distance" },
	        ]
	    });

  	

}


    // 生成 fsi
    $("#content").on("click", ".buildFsi", function(){
        // 只生成往返
        /*
            "XS FSI2ADT/DL///#CCN1080                                                       
        S DL   128T24JUN PEK1120 0736SEA0S    76W                                       
        S DL   129T".$bb." SEA1659>1950PEK0S    76W 
        */
        var json = $(this).data("json");
        return;
        if( JSON.stringify(json) === "{}"){
            return;
        }

        var targetData             = json,     
            OutboundTravelDateOrg  = (new Date())+"",     
            OutboundTravelDate     = OutboundTravelDateOrg.substr(8,2)+OutboundTravelDateOrg.substr(4,3).toUpperCase();
        // if( $("#InboundTravelDate").val() !== ""){
        var InboundTravelDateOrg   = (new Date())+"",
            InboundTravelDate      = InboundTravelDateOrg.substr(8,2)+InboundTravelDateOrg.substr(4,3).toUpperCase();
        // }
        /*
        success: 去程回程均无中间段
        XS FSI/UA
        S UA   088K26JUN BJS0100 0200NYC0S    76W 
        S UA   089K30JUL NYC0300 0400BJS0S    76W

        去程中间段
        XS FSI/UA
        S UA   850K26JUN BJS0100 0200CHI0X    76W 
        S UA   1023K26JUN CHI0300 0400NYC0S    76W 
        S UA   089K30JUL NYC0300 0400BJS0S    76W 

        XS FSI/UA
        S UA   1310\09SEP BJS0100 0200CHI0X    76W 
        S UA   1310\09SEP CHI0300 0400NYC0S    76W 
        S UA   981\09SEP BJS0100 0200CHI0X    76W
        S UA   981\09SEP NYC0300 0400BJS0S    76W 

        回程中间段
        XS FSI/UA
        S UA   088K26JUN BJS0100 0200NYC0S    76W 
        S UA   1757K30JUL NYC0100 0200WAS0X    76W 
        S UA   807K30JUL WAS0300 0400BJS0S    76W 


        */
        var fsi = "XS FSI/"+$("#airCompany").val()+"\r"; 

        // 去程中间段
        if(/\+/.test(targetData.FlightNumberOut)){
                // 航班号
            var out = /(\w{2})(\d+)\+(\w{2})(\d+)/.exec(targetData.FlightNumberOut),
                flightOut1 = out[1], out1 = out[2], flightOut2 = out[3], out2 = out[4],

                // 舱位
                seatClassOut  = /(\w{1})\+(\w{1})/.exec(targetData.SeatClassOut),
                seatClassOut1 = seatClassOut[1], seatClassOut2 = seatClassOut[2],

                // 地点
                dep = /(\w{3})-(\w{3})-(\w{3})/.exec(targetData.FlightInfoOut),
                start1 = dep[1], stay1 = dep[2], end1 = dep[3];

            fsi +="S "+flightOut1+"   "+out1+seatClassOut1+OutboundTravelDate+" "+start1+"0100 0200"+stay1+"0X    76W \r" 
            fsi +="S "+flightOut2+"   "+out2+seatClassOut2+OutboundTravelDate+" "+stay1 +"0300 0400"+end1 +"0S    76W \r" 

        }
        // 去程无中间段
        else{
                // 航班号
            var out = /(\w{2})(\d+)/.exec(targetData.FlightNumberOut),
                flightOut = out[1], out = out[2],

                // 舱位
                seatClassOut = targetData.SeatClassOut,

                // 地点
                dep = /(\w{3})-(\w{3})/.exec(targetData.FlightInfoOut),
                start1 = dep[1], end1 = dep[2];


            fsi +="S "+flightOut+"   "+out+seatClassOut+OutboundTravelDate+" "+start1+"0100 0200"+end1+"0S    76W \r" 

        }

        // 判断是否有回程
        if(targetData.FlightNumberIn){

        // 回程中间段
        if(/\+/.test(targetData.FlightNumberIn)){
                // 航班号
            var inb = /(\w{2})(\d+)\+(\w{2})(\d+)/.exec(targetData.FlightNumberIn),
                flightIn1 = inb[1], inb1 = inb[2], flightIn2 = inb[3], inb2 = inb[4],

                // 舱位
                seatClassIn  = /(\w{1})\+(\w{1})/.exec(targetData.SeatClassIn),
                seatClassIn1 = seatClassIn[1], seatClassIn2 = seatClassIn[2],

                // 地点
                arr = /(\w{3})-(\w{3})-(\w{3})/.exec(targetData.FlightInfoIn),
                start2 = arr[1], stay2 = arr[2], end2 = arr[3];

            fsi +="S "+flightIn1+"   "+inb1+seatClassIn1+InboundTravelDate +" "+start2+"0100 0200"+stay2+"0X    76W \r" 
            fsi +="S "+flightIn2+"   "+inb2+seatClassIn2+InboundTravelDate +" "+stay2 +"0300 0400"+end2 +"0S    76W \r" 
        }
        // 回程无中间段
        else{
                // 航班号
            var inb = /(\w{2})(\d+)/.exec(targetData.FlightNumberIn),
                flightIn = inb[1], inb = inb[2] 

                // 舱位
                seatClassIn = targetData.SeatClassIn,

                // 地点
                arr = /(\w{3})-(\w{3})/.exec(targetData.FlightInfoIn),
                start2 = arr[1], end2 = arr[2];


            fsi +="S "+flightIn+"   "+inb+seatClassIn +InboundTravelDate +" "+start2+"0300 0400"+end2+"0S    76W \r"
        }
                                             

        }
        // console.log(fsi);

        // 弹出
        var fsiModal = new OtherModel("结果",
        `
            <textarea  class="form-control" rows="6">${fsi}</textarea>
        `
        ,`<button type="button" class="btn btn-default"  data-dismiss="modal">关闭</button>`)

        fsiModal.show();
    })



})



</script>
<{/block}>