<{extends file='layout.html'}>

<{block name="title"}>avh计划任务(from Eterm)<{/block}>
<{block name="content"}>

<div id="content-progress"></div>
<div id="content">**<{$plan}>**</div>

<div class="modal fade bs-example-modal-lg" id="cabin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style='width:1200px'>
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">舱位</h4>
          </div>
          <div class="modal-body">
          		<div class="col-lg-12">
          			<div class="form-group">
									<a class="btn btn-default" id="mkTable">筛选</a>
          			</div>
								<div class="form-group">
									<label for="" class="control-label" >头等舱</label>
									<input type="text" class="form-control" id='f-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">商务舱</label>
									<input type="text" class="form-control" id='b-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">经济舱</label>
									<input type="text" class="form-control" id='e-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">航空公司</label>
									<input type="text" class="form-control" id='f-airline' onblur="upper(this)" >
								</div>
          		</div>
          		<div class="col-lg-12">
          			<div id='model-content'></div>
          		</div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <!-- <button type="button" class="btn btn-primary" id='mkTable'>生成</button> -->
          </div>
      </div>
  </div>
</div>


<script>
var data = eval(<{$plan}>);

require(['eterm'], function(eterm){

var airline, start, end, startDate, endDate;

console.log(data);

list(data, 'table', "#content", 'w');

// 筛选
$('#fliter').click(function(){
	// airline = $('#airline').val() || "";
	// start = $('#start').val() || "";
	// end = $('#end').val() || "";
	startDate = $('#startDate').val() || "";
	// endDate = $('#startDate').val() || "";

	rmTable('table');

	var fliter = [];
	if([].filter){
		fliter = data.filter(function(d){
			return d.startDate === startDate;
		});
	}else{ 
		for (var i = data.length - 1; i >= 0; i--) {
			if (d.startDate === startDate){
				fliter.push(data[i]);
			}
		};
	}

	list(fliter, 'table', "#content", 'w');
})

function rmTable(dom){
	$('.'+dom).remove();
}

function list(array, dom, wrap, type){
	// array: 返回数据中待渲染数组
	// dom: 为渲染模板起名
	// context: 指定渲染容器
	// appendType: 回填模式 w代表覆盖，a代表追加
		"use strict";
		// ES6 

		let html = '', newDate = new Date(),
				appendType = type !== ""? type : 'w',
			  context = wrap !== "" ? wrap : document;
		
			html += `<table class="${dom} table-hover table-bordered table-responsive">
				<tr>
					<th>序号</th>
					<th>出发</th>
					<th>目的地</th>
					<th>航空公司</th>
					<th>起始日期</th>
					<th>截止日期</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>`
			for(let arr in array){
				html +=`
				<tr>
					<td>${arr}</td>
					<td>${array[arr]['start']}</td>
					<td>${array[arr]['end']}</td>
					<td>${array[arr]['aircompany']}</td>
					<td>${array[arr]['startDate']}</td>
					<td>${array[arr]['endDate']}</td>
					<td>`
					newDate.setTime(parseInt(array[arr]['update_time']) * 1000);
					html += newDate.toLocaleString();
					html += `</td>
					<td><a href="" class="model" data-toggle="modal" data="{'start':'${array[arr]['start']}','end': '${array[arr]['end']}','airline': '${array[arr]['airline']}', startDate: '${array[arr]['startDate']}', endDate: '${array[arr]['endDate']}', pid:'${array[arr]['plan_id']}'}"  data-target="#cabin">查看舱位</a></td>
				</tr>`
			}
			html +=` </table>`
		

		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}
}

var setCommend = function(command){
	$('.model').click(function(){
		var query = eval('['+$(this).attr('data')+']')[0];
		command.planAvhEterm({
			dosubmit: 'displayCabin',
			pid: query.pid
		})
	})
}

var tpl = {
	mkTable:mkTable,
	mkSeatLevel: mkSeatLevel
}

// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm,tpl));

function mkTable(array, dom, wrap, type){ 
	var seatMatch = {
		'A': '>9',
		'S': '限制销售',
		'Q': '接受预定',
		'L': 0, // '接受候补'
		'C': 0, // '舱位关闭'
		'Z': '未知',
		'X': '等级取消'
	}

	var airline = $('#airline').val(), start = $('#start').val(), end = $('#end').val();
	// 绘制表格
	var html = "", 
			fcabin = ($('#f-cabin').val()).split(',')[0] !== ""? ($('#f-cabin').val()).split(',') : [],
			bcabin = ($('#b-cabin').val()).split(',')[0] !== ""? ($('#b-cabin').val()).split(',') : [],
			ecabin = ($('#e-cabin').val()).split(',')[0] !== ""? ($('#e-cabin').val()).split(',') : [],

			fcabinhtml = "", bcabinhtml = "", ecabinhtml = "";
	var fairline = $('#f-airline').val();

	var totalcabin = [].concat(fcabin,bcabin,ecabin);
	var	appendType = type !== ""? type : 'w',
		context = wrap !== "" ? wrap : document;

	html = '<table class="'+dom+' table table-hover table-bordered table-responsive" id="origData">';

	if( totalcabin.length > 0 ){
		html += '<tr><th rowspan=2 >日期</th><th rowspan=2>航班</th><th rowspan=2>行程</th>';
		if(fcabin.length > 0){
			html += '<th colspan='+fcabin.length+'>头等舱</th>';
			for( var f in fcabin){
				fcabinhtml += '<th>'+fcabin[f]+'</th>';
			}
		}
		if(bcabin.length > 0){
			html += '<th colspan='+bcabin.length+'>商务舱</th>';
			for( var b in bcabin){
				bcabinhtml += '<th>'+bcabin[b]+'</th>';
			}
		}
		if(ecabin.length > 0){
			html += '<th colspan='+ecabin.length+'>经济舱</th>';
			for( var e in ecabin){
				ecabinhtml += '<th>'+ecabin[e]+'</th>';
			}
		}
		html += '</tr>';
		html += '<tr>'+fcabinhtml+bcabinhtml+ecabinhtml+'</tr>';
	}
if(fairline !== ""){
	for( var i in array ){
			if(array[i].airline === fairline){
			html += "<tr>";
				html += "<td>"+array[i].date+"</td> <td>"+array[i].airline+"</td><td>"+array[i].start+"-"+array[i].end+"</td>";
				if(totalcabin.length===0){
					for(var o in array[i].cabin){
						html += "<td>"+o+":"+matchTd(array[i].cabin[o], seatMatch)+"</td>"; 
					}
				}else{
					if(array[i].cabin.length !== 0){
						for(var o in totalcabin){
								html += "<td>"+matchTd(array[i].cabin[(totalcabin[o])], seatMatch)+"</td>";
						}
					}
				}
			html += "</tr>";
			}
	}
}else{
	for( var i in array ){
			html += "<tr>";
			html += "<td>"+array[i].date+"</td> <td>"+array[i].airline+"</td><td>"+array[i].start+"-"+array[i].end+"</td>";
			if(totalcabin.length===0){
				for(var o in array[i].cabin){
					html += "<td>"+o+":"+matchTd(array[i].cabin[o], seatMatch)+"</td>";
				}
			}else{
				if(array[i].cabin.length !== 0){
					for(var o in totalcabin){
							html += "<td>"+matchTd(array[i].cabin[(totalcabin[o])], seatMatch)+"</td>";
					}
				}
			}
			html += "</tr>";
	}

}

	html += '</table>';
	
	if(appendType === 'w'){
		$(context).html(html);
	}
	else if(appendType === 'a'){
		$(context).append(html);
	}

}


function mkSeatLevel(data){
	if(!data){  return; }
	var longestCabinId = 0;
	var html = "";
	for( var i in data ){
		if(data[i].cabinLength > data[longestCabinId].cabinLength){
			longestCabinId = i;
		}
	}
	
	for(var i in data[longestCabinId].cabin){
		html += '<option>'+i+'</option>';
	}

	$('#seatLevel').show().children('select').append(html);
}

function matchTd(data, matchArr){
	// data匹配matchArr，存在返回match中的值，否则返回原值

	// 所筛选舱位没有时
	if(data === undefined){
		return "";
	}

	for( o in matchArr ){
		if( o === data){
			return matchArr[o];
		}
	}
	return data;
}

})
</script>
<{/block}>