<{extends file='layout.html'}>

<{block name="title"}>av计划任务(from Sabre)<{/block}>
<{block name="content"}>

<!-- <div class="panel panel-default">
    <div class="panel-body">
			<div class="form-inline">
					<label for="airline">航班：</label><input type="text" name='airline' id='airline' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>
					<label for="start">出发：</label><input type="text" name='start' id='start' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>
					<label for="end">到达：</label><input type="text" name='end' id='end' value='' class='form-control'  onblur="upper(this)"  style='width:100px'>
					<label for="startDate">起始日期：</label><input type="text" data-date="" name='startDate' id='startDate' value='' class='form-control datetimepicker'  onblur="upper(this)"  style='width:100px'>
					<label for="endDate">结束日期：</label><input type="text" data-date="" name='endDate' id='endDate' value='' class='form-control datetimepicker'  onblur="upper(this)"  style='width:100px'>
					<input type="submit" id="fliter" name='fliter' value='筛选' class='btn btn-primary'>
			</div>
		</div>
</div> -->

<div id="content-progress"></div>
<div id="content">**<{$plan}>**</div>

<div class="modal fade bs-example-modal-lg" id="cabin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style='width:1200px'>
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">舱位</h4>
          </div>
          <div class="modal-body">
          		<div class="col-lg-12">
          			<div class="form-group">
									<a class="btn btn-default" id="mkTable">设置舱位等级</a>
          			</div>
								<div class="form-group">
									<label for="" class="control-label" >头等舱</label>
									<input type="text" class="form-control" id='f-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">商务舱</label>
									<input type="text" class="form-control" id='b-cabin' onblur="upper(this)" >
								</div>
								<div class="form-group">
									<label for="" class="control-label">经济舱</label>
									<input type="text" class="form-control" id='e-cabin' onblur="upper(this)" >
								</div>
          		</div>
          		<div class="col-lg-12">
          			<div id='model-content'></div>
          		</div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <!-- <button type="button" class="btn btn-primary" id='mkTable'>生成</button> -->
          </div>
      </div>
  </div>
</div>


<script>
var data = eval(<{$plan}>);

require(['eterm'], function(eterm){

var airline, start, end, startDate, endDate;

console.log(data);

list(data, 'table', "#content", 'w');

// 筛选
$('#fliter').click(function(){
	// airline = $('#airline').val() || "";
	// start = $('#start').val() || "";
	// end = $('#end').val() || "";
	startDate = $('#startDate').val() || "";
	// endDate = $('#startDate').val() || "";

	rmTable('table');

	var fliter = [];
	if([].filter){
		fliter = data.filter(function(d){
			return d.startDate === startDate;
		});
	}else{ 
		for (var i = data.length - 1; i >= 0; i--) {
			if (d.startDate === startDate){
				fliter.push(data[i]);
			}
		};
	}

	list(fliter, 'table', "#content", 'w');
})

function rmTable(dom){
	$('.'+dom).remove();
}

function list(array, dom, wrap, type){
	// array: 返回数据中待渲染数组
	// dom: 为渲染模板起名
	// context: 指定渲染容器
	// appendType: 回填模式 w代表覆盖，a代表追加
		"use strict";
		// ES6 

		let html = '', newDate = new Date(),
				appendType = type !== ""? type : 'w',
			  context = wrap !== "" ? wrap : document;
		
			html += `<table class="${dom} table-hover table-bordered table-responsive">
				<tr>
					<th>序号</th>
					<th>出发</th>
					<th>目的地</th>
					<th>航班号</th>
					<th>起始日期</th>
					<th>截止日期</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>`
			for(let arr in array){
				html +=`
				<tr>
					<td>${arr}</td>
					<td>${array[arr]['start']}</td>
					<td>${array[arr]['end']}</td>
					<td>${array[arr]['airline']}</td>
					<td>${array[arr]['startDate']}</td>
					<td>${array[arr]['endDate']}</td>
					<td>`
					newDate.setTime(parseInt(array[arr]['update_time']) * 1000);
					html += newDate.toLocaleString();
					html += `</td>
					<td><a href="" class="model" data-toggle="modal" data="{'start':'${array[arr]['start']}','end': '${array[arr]['end']}','airline': '${array[arr]['airline']}', startDate: '${array[arr]['startDate']}', endDate: '${array[arr]['endDate']}', pid:'${array[arr]['plan_id']}'}"  data-target="#cabin">查看舱位</a></td>
				</tr>`
			}
			html +=` </table>`
		

		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}
}

var setCommend = function(command){
	$('.model').click(function(){
		var query = eval('['+$(this).attr('data')+']')[0];
		command.planAvSabre({
			dosubmit: 'displayCabin',
			// start: query.start,
			// end: query.end,
			// startDate: query.startDate,
			// endDate: query.endDate,
			// airline: query.airline,
			pid: query.pid
		})
	})
}

var tpl = {
	mkTable:mkTable,
	mkSeatLevel: mkSeatLevel
}

// 配置setCommand()
// 装载模板mkTable()
setCommend(eterm.createCommand(eterm.eterm, tpl));

function mkTable(array, dom, wrap, type){ 
	console.log(array);
	var airline = $('#airline').val(), start = $('#start').val(), end = $('#end').val();
	// 绘制表格
	var html = "", 
			fcabin = ($('#f-cabin').val()).split(',')[0] !== ""? ($('#f-cabin').val()).split(',') : [],
			bcabin = ($('#b-cabin').val()).split(',')[0] !== ""? ($('#b-cabin').val()).split(',') : [],
			ecabin = ($('#e-cabin').val()).split(',')[0] !== ""? ($('#e-cabin').val()).split(',') : [],

			// fcabin = ('C,D,I,R,J,Y,B,H').split(','),
			// bcabin = ('U,E,G,S,O').split(','),
			// ecabin = ('K,L,M,X,V,N,W,Q,T').split(','),

			fcabinhtml = "", bcabinhtml = "", ecabinhtml = "";

	var totalcabin = [].concat(fcabin,bcabin,ecabin);
	var	appendType = type !== ""? type : 'w',
		context = wrap !== "" ? wrap : document;

	html = '<table class="'+dom+' table table-hover table-bordered table-responsive" id="origData">';

	if( totalcabin.length > 0 ){
		html += '<tr><th rowspan=2 >日期</th><th rowspan=2>航班</th><th rowspan=2>行程</th>';
		if(fcabin.length > 0){
			html += '<th colspan='+fcabin.length+'>头等舱</th>';
			for( var f in fcabin){
				fcabinhtml += '<th>'+fcabin[f]+'</th>';
			}
		}
		if(bcabin.length > 0){
			html += '<th colspan='+bcabin.length+'>商务舱</th>';
			for( var b in bcabin){
				bcabinhtml += '<th>'+bcabin[b]+'</th>';
			}
		}
		if(ecabin.length > 0){
			html += '<th colspan='+ecabin.length+'>经济舱</th>';
			for( var e in ecabin){
				ecabinhtml += '<th>'+ecabin[e]+'</th>';
			}
		}
		html += '</tr>';
		html += '<tr>'+fcabinhtml+bcabinhtml+ecabinhtml+'</tr>';
	}

	for( var i in array ){
		html += "<tr>";
		html += "<td>"+array[i].date+"</td> <td>"+array[i].airline+"</td><td>"+array[i].start+"-"+array[i].end+"</td>";
		if(totalcabin.length===0){
			for(var o in array[i].cabin){
				html += "<td>"+o+":"+array[i].cabin[o]+"</td>";
			}
		}else{
			if(array[i].cabin.length !== 0){
				for(var o in totalcabin){
						html += "<td>"+array[i].cabin[(totalcabin[o])]+"</td>";
				}
			}
		}
		html += "</tr>";
	}
	html += '</table>';
	
	if(appendType === 'w'){
		$(context).html(html);
	}
	else if(appendType === 'a'){
		$(context).append(html);
	}

}


function mkSeatLevel(data){
	if(!data){  return; }
	var longestCabinId = 0;
	var html = "";
	for( var i in data ){
		if(data[i].cabinLength > data[longestCabinId].cabinLength){
			longestCabinId = i;
		}
	}
	
	for(var i in data[longestCabinId].cabin){
		html += '<option>'+i+'</option>';
	}

	$('#seatLevel').show().children('select').append(html);
}

})
</script>
<{/block}>