<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="form-group">
    <label class="control-label" for="input">输入：</label>
    
   	<textarea class="form-control" id='input' cols="30" rows="10">	
   	</textarea>
    <label class="control-label" for="output">输出：</label>
    <textarea class="form-control" name="" id="output" cols="30" rows="10">
    </textarea>
	<button id='btn' >转换</button>
</div>
    <script>
    btn.onclick = function(){
    	var str = document.getElementById('input').value;
    	var out = document.getElementById('output');
        var output = "";
console.log(str)
        if(/(http|https)/gi.test(str)){
            console.log(str)
        }else{
        	var input = str.match(/\w{3}/g);
        	for (var i = input.length - 1; i >= 0; i--) {
        		input[i] = input[i]+',';
        		output += input[i];
        	};
        }
    	out.innerHTML = output;
    }
	</script>
</body>
</html>