<{extends file='layout.html'}>

<{block name="title"}>航空公司直达航班图<{/block}>
<{block name="content"}>

<div class='form-inline'>
<!-- 	<input type="submit" name='dosubmit' id='all' class='btn btn-default' value='全部查看'>

	<input type="submit" name='dosubmit' id='select' class='btn btn-primary' value='提交'> -->
</div>
<br>
<div id='lab' style="display:none">
	<pre class="command"></pre>
</div>
<br>
<div id="content-progress"></div>
<div id="content"></div>
<script>
var data = eval(<{$map}>);

require(['eterm'], function(eterm){

mkTable(data, "table", "#content", "w")

function mkTable(array, dom, wrap, type){

		"use strict";
		// ES6 

		let html = '',
				appendType = type !== ""? type : 'w',
			  context = wrap !== "" ? wrap : document;

		for(let end in array){
			html += `<table class="${dom} table-hover table-bordered table-responsive">
				<tr>
					<th>序号</th>
					<th>航空公司</th>
					<th>出发</th>
					<th>到达</th>
				</tr>`
				
			for(let line =0; line< array[end]['length']; line++){
				html += `
				<tr class='line'>
					<td class='' >${line}</td>
					<td class=''>${end}</td>
					<td class=''>${array[end][line]['start']}</td>
					<td class=''>${array[end][line]['end']}</td>
				</tr>
				`
			}
			html += `</table>`
		}

		if(appendType === 'w'){
			$(context).html(html);
		}
		else if(appendType === 'a'){
			$(context).append(html);
		}
}


$("#content").html()
})
</script>
<{/block}>