<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title><{block name="title"}><{/block}></title>
	<link rel="stylesheet" href='<{$_PUBLIC}>/css/style.css?randowId=<{$randowId}>'> 
	<link rel="stylesheet" href='<{$_PUBLIC}>/css/bootstrap.min.css'> 

	<script src="<{$_PUBLIC}>/js/require.js" data-main="<{$_PUBLIC}>/js/eterm.js?randowId=<{$randowId}>"></script>
	<!--
	<script src='<{$_PUBLIC}>/js/lib/bootstrap.min.js'></script>
	<script src="<{$_PUBLIC}>/js/eterm.js?randowId=<{$randowId}>"></script>
	<script src='<{$_PUBLIC}>/js/jquery.min.js'></script>
	<script src='<{$_PUBLIC}>/js/bootstrap.progress.js'></script>
	<script src="<{$_PUBLIC}>/js/extend.js?randowId=<{$randowId}>"></script>
	<script src="<{$_PUBLIC}>/js/action.js?randowId=<{$randowId}>"></script>
	-->
	<script>
	function upper(target){
  	if(target.value!=target.value.toUpperCase()) target.value=target.value.toUpperCase();
	}
	</script>
	<style>
		body{ overflow: auto !important;}
	</style>
</head>
<body class='contain'>

	<h1><{block name="title"}><{/block}></h1> 
	<{if $nav != 'no'}>
		<{include './nav.html'}>
	<{/if}>
	<{block name="content"}><{/block}>
	
</body>
</html>
