<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ZABA</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="index"><a href="<{$URL}>/">首页</a></li>
                <li class="xfsd"><a href="<{$URL}>/admin/xfsd.php?display=1">xfsd</a></li>
                <li class="avh"> <a href="<{$URL}>/admin/avh.php?display=1">舱位(eterm)</a></li>
                
                <!-- <li class="cmdText"><a href="<{$URL}>/admin/cmdText.php">命令池</a></li> -->
                <li class='cabinSabre'><a href="<{$URL}>/admin/av.sabre.php?display=1">舱位(sabre)</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">产品模型 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- <li><a href="<{$URL}>/admin/production.php?display=1">产品模型一</a></li> -->
                        <li><a href="<{$URL}>/admin/production.php?display=2">产品模型二</a></li>
                        <li><a href="<{$URL}>/admin/production.php?display=3">政策抓取(TaoBao)</a></li>
                        <li><a href="<{$URL}>/admin/routing.php?display=1">SS舱位</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">工具<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <!-- <li><a href="<{$URL}>/admin/check.php?display=1">校检客票状态</a></li> -->
                        <li><a href="<{$URL}>/admin/plan.php?display=1">av计划任务（sabre）</a></li>
                        <li><a href="<{$URL}>/admin/plan.php?display=2">avh计划任务（eterm）</a></li>
                        <li><a href="<{$URL}>/admin/fsi.php?display=1">FSI命令询价</a></li>
                        <li><a href="<{$URL}>/admin/cmdText.php?display=1">命令池输入</a></li>
                        <li> <a href="<{$URL}>/admin/av.old.php?display=1">航班查询</a></li>
                        <!-- <li><a href="<{$URL}>/admin/routing.php?display=1">航空公司站点图</a></li> -->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a><{if !empty($username) }>你好！<{$username}><{/if}></a></li>
                <li><a href="#" data-toggle="modal" data-target="#myModal">工具</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">工具</h4>
            </div>
            <div class="modal-body">
                <{include './tool.html'}>
            </div>
            <!-- <div class="modal-footer"> -->
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            <!-- </div> -->
        </div>
    </div>
</div>